@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900|Open+Sans:300,400,700,800&amp;subset=chinese-traditional,japanese);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  --inv: #fff; }

html {
  font-family: 'Playfair Display', serif; }

::-webkit-scrollbar {
  display: none; }

body {
  background-image: -webkit-linear-gradient(115deg, #616161 0%, #96B7C4 100%);
  background-image: -o-linear-gradient(115deg, #616161 0%, #96B7C4 100%);
  background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
  letter-spacing: 1px;
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.name-bar {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans';
  background: black; }

.nav-wrapper, .nav-bar-start {
  height: 90px; }
  .nav-wrapper .nav-tab a, .nav-bar-start .nav-tab a {
    display: inline-block;
    background: none;
    font-size: 20px;
    color: black;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
    .nav-wrapper .nav-tab a:hover, .nav-bar-start .nav-tab a:hover {
      color: black;
      text-decoration: none;
      border-radius: 10px; }
      .nav-wrapper .nav-tab a:hover span, .nav-bar-start .nav-tab a:hover span {
        -webkit-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
        color: black; }
  .nav-wrapper .nav-tab .tab-en, .nav-bar-start .nav-tab .tab-en {
    display: block;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Playfair Display';
    letter-spacing: 1rem; }

.nav-bar-start {
  z-index: 1;
  background: none;
  text-align: center;
  width: 100%;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }
  .nav-bar-start.nav-bar-sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    height: 80px;
    background: #E3E3E3; }
    .nav-bar-start.nav-bar-sticky a {
      margin-top: .3rem; }
  .nav-bar-start .split-line {
    display: inline-block;
    background-color: #00000027;
    width: 1px;
    height: 0;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
    .nav-bar-start .split-line.show {
      height: 35px;
      position: relative;
      top: .5rem; }

.intro .intro-wrapper {
  position: relative; }
  .intro .intro-wrapper .intro-mask .intro-card {
    color: black;
    padding: 1rem 0; }
    .intro .intro-wrapper .intro-mask .intro-card .name {
      font-weight: 700;
      font-size: 0px;
      cursor: default; }
      .intro .intro-wrapper .intro-mask .intro-card .name span {
        font-size: 30px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .intro .intro-wrapper .intro-mask .intro-card .name span:hover {
          color: white; }
    .intro .intro-wrapper .intro-mask .intro-card a {
      color: black;
      font-size: 30px;
      margin: 0 5px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .intro .intro-wrapper .intro-mask .intro-card a:hover {
        color: white; }
    .intro .intro-wrapper .intro-mask .intro-card .description {
      padding: .5rem 0;
      cursor: default; }

.intro .personal-photo {
  display: inline-block;
  margin: 0 auto;
  position: relative; }
  .intro .personal-photo img {
    border: 1px solid white;
    padding: 1rem;
    border-radius: 100%;
    width: 100%;
    max-width: 350px; }
  .intro .personal-photo::before {
    content: '';
    position: absolute;
    top: 175px;
    left: -40%;
    background: #fff;
    width: 100px;
    height: 1px; }
  .intro .personal-photo::after {
    content: '';
    position: absolute;
    top: 175px;
    right: -40%;
    background: #fff;
    width: 100px;
    height: 1px; }

.skill-wrapper .skill-slider-nav {
  width: 70%;
  margin: 50px auto;
  text-align: center; }
  .skill-wrapper .skill-slider-nav .slider-tab {
    text-align: center; }
    .skill-wrapper .skill-slider-nav .slider-tab img {
      height: 110px;
      border-radius: 15px;
      cursor: pointer;
      -webkit-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s; }
      .skill-wrapper .skill-slider-nav .slider-tab img:hover {
        -webkit-filter: brightness(1.4);
        filter: brightness(1.4); }
    .skill-wrapper .skill-slider-nav .slider-tab .title {
      font-family: 'Open Sans';
      font-size: 20px;
      padding: 10px 0; }

.skill-wrapper .slick-slide img {
  display: inline-block; }

/* ~~~~~~~ INIT. BTN ~~~~~~~ */
.btn {
  position: relative;
  padding: .5rem 2.2rem;
  padding-right: 1.5rem;
  margin: 1rem 1rem;
  font-size: 1.4rem;
  color: var(--inv);
  letter-spacing: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }

.btn:before, .btn:after {
  content: '';
  position: absolute;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  z-index: -1; }

.btn:hover {
  color: var(--def);
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .6s; }

.btn:hover:before {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }

.btn:hover:after {
  background: var(--inv);
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s; }

/* From Top */
.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%; }

.from-top:before {
  bottom: 0;
  border: 1px solid var(--inv);
  border-top: 0;
  border-bottom: 0; }

.from-top:after {
  top: 0;
  height: 0; }

.from-top:hover:before,
.from-top:hover:after {
  height: 100%; }

/* From Left */
.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%; }

.from-left:before {
  right: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0; }

.from-left:after {
  left: 0; }

.from-left:hover:before,
.from-left:hover:after {
  width: 100%; }

/* From Right */
.from-right:before,
.from-right:after {
  top: 0;
  width: 0;
  height: 100%; }

.from-right:before {
  left: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0; }

.from-right:after {
  right: 0; }

.from-right:hover:before,
.from-right:hover:after {
  width: 100%; }

/* From Middle */
.from-middle:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0; }

.from-middle:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: var(--inv); }

.from-middle:hover:before {
  left: 0;
  width: 100%; }

.from-middle:hover:after {
  top: 0;
  height: 100%; }

/* From Bottom */
.from-bottom:before,
.from-bottom:after {
  left: 0;
  height: 0;
  width: 100%; }

.from-bottom:before {
  top: 0;
  border: 1px solid var(--inv);
  border-top: 0;
  border-bottom: 0; }

.from-bottom:after {
  bottom: 0;
  height: 0; }

.from-bottom:hover:before,
.from-bottom:hover:after {
  height: 100%; }

.title {
  color: #000;
  font-size: 25px;
  font-weight: 500; }

.sub-title {
  font-size: 55px;
  font-family: 'Playfair Display', serif;
  color: #0000004f;
  font-weight: 700; }

.skicon {
  background: #000;
  padding: .5rem 1rem;
  margin: 1rem .3rem;
  font-size: 25px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 700; }

.table-wrapper {
  text-align: center; }
  .table-wrapper table {
    display: inline-block;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 1rem 2rem;
    position: relative;
    border-left: 4px double #ffffff77;
    border-right: 4px double #ffffff77; }
    .table-wrapper table thead {
      font-weight: 700; }
    .table-wrapper table::before {
      content: '';
      height: 1px;
      width: 100px;
      background: #ffffff77;
      position: absolute;
      top: 50%;
      left: -100px; }
    .table-wrapper table::after {
      content: '';
      height: 1px;
      width: 100px;
      background: #ffffff77;
      position: absolute;
      top: 50%;
      right: -100px; }

.work-form {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1150px; }
  .work-form .thumbnail {
    border-radius: 10px;
    max-height: 277px;
    overflow: hidden;
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.contact {
  position: relative; }
  .contact::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 150%;
    height: 580px;
    background: #ffffff55;
    top: -340%;
    left: -10%;
    -webkit-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg); }
