@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Kanit);
* {
    font-family: 'Noto Sans TC';
    letter-spacing: 1px;
    color: white;
}

.en {
    font-family: 'Kanit';
}


/* flex setting */

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}


/* 主題顏色 */

.color-001 {
    color: #31233c;
}

.color-002 {
    color: #73c1c4;
}


/* 捲軸主題樣式 */

 ::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;
}


/* NAV-BAR style */

.name-bar {
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Kanit';
    background: rgb(0, 43, 71);
}

.nav-wrapper {
    height: 90px;
}

.nav-bar-start {
    background: none;
    height: 90px;
    text-align: center;
    width: 100%;
    transition-duration: .5s;
    transition-timing-function: linear;
    z-index: 1;
}

.nav-wrapper .nav-tab a {
    display: inline-block;
    background: none;
    font-size: 20px;
    /* border: 1px solid red; */
    border-radius: 0px;
    padding: 3px 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    width: 10%;
    transition-duration: .5s;
}

.nav-wrapper .nav-tab a:hover {
    font-weight: 700;
    color: black;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
}

.nav-wrapper .nav-tab a:hover span {
    transition-duration: .5s;
}

.nav-wrapper .nav-tab a:hover span {
    color: black;
}

.nav-wrapper .nav-tab .tab-en {
    display: block;
    font-size: 12px;
    font-weight: 300;
}

.nav-wrapper .split-line {
    display: inline-block;
    background: rgba(211, 211, 211, 0.438);
    width: 1px;
    height: 0px;
    transition-duration: .5s;
}

.nav-wrapper .split-line.show {
    height: 35px;
}


/* fix-top nav-bar */

.nav-bar-start.nav-bar-sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    height: 80px;
    background: rgb(0, 43, 71);
}

.nav-bar-start.nav-bar-sticky a {
    margin-top: 12px;
}


/* 第一區 Banner 區塊 */

.intro {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 80%;
}

.intro-wrapper {
    position: relative;
    background-image: linear-gradient(to left, #000000, #000000 13%, #00000025 50%, #000000);
    padding-top: 80px;
    padding-bottom: 85px;
}

.intro-mask {
    text-align: center;
}

.intro-card {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.432);
    padding: 2.5rem 3rem 1.5rem 3rem;
    border-radius: 15px;
    color: rgb(0, 43, 71);
}

.intro-card .photo-person {
    display: inline-block;
    margin: 0 auto 10px auto;
    box-shadow: 0px 0px 70px #000;
    border-radius: 100%;
    height: 16rem;
    width: 16rem;
}

.photo-person img {
    height: 16rem;
    border-radius: 100%;
}

.intro-card .name {
    font-size: 25px;
    font-family: 'Kanit';
}

.intro-card a {
    font-size: 30px;
    margin: 0 5px;
}

.intro-card a i {
    transition-duration: .5s;
}

.intro-card a:hover i {
    color: rgb(0, 153, 255);
}

.intro-card .description p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}


/* intro-part mouseover css */

.MouseOver-Position-Aware {
    width: 30%;
    background: rgba(0, 0, 0, 0.432);
    display: block;
    text-align: center;
    outline: none;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
    transition: all .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
    -webkit-transition: all .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
    -moz-transition: all .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
    -ms-transition: all .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
    -o-transition: all .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
}

.MouseOver-Position-Aware .LeavePoint {
    position: absolute;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    border-radius: 100%;
    background: rgba(0, 43, 71, 0.205);
    transition: width .5s cubic-bezier(0.54, 0.09, 0.29, 0.9), height .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
    -webkit-transition: width .5s cubic-bezier(0.54, 0.09, 0.29, 0.9), height .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
    -moz-transition: width .5s cubic-bezier(0.54, 0.09, 0.29, 0.9), height .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
    -ms-transition: width .5s cubic-bezier(0.54, 0.09, 0.29, 0.9), height .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
    -o-transition: width .5s cubic-bezier(0.54, 0.09, 0.29, 0.9), height .5s cubic-bezier(0.54, 0.09, 0.29, 0.9);
    z-index: -1
}

.MouseOver-Position-Aware:hover .LeavePoint,
.MouseOver-Position-Aware:focus .LeavePoint {
    width: 400%;
    height: 400%;
}


/* slide-part 技能樹 slide show */

.skill-wrapper {}

.skill-slider-nav {
    margin: 0 auto;
    width: 90%;
}

.slider-tab {
    background: rgba(255, 255, 255, 0.548);
    border-radius: 20px;
    text-align: center;
    height: 200px;
    margin: 0 20px;
}

.skill-slider-nav .slider-tab .title {
    color: black;
}

.slider-tab img {
    display: inline-block;
    margin: 0 auto;
    height: 150px;
}