@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900|Montserrat:300,400,700,800&display=swap&subset=chinese-traditional");
/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Zilap";
  src: url("Zilap_Orion_Urban_Personal_Use.eot?") format("eot"), url("/fonts/Zilap_Orion_Urban_Personal_Use.woff") format("woff"), url("/fonts/Zilap_Orion_Urban_Personal_Use.ttf") format("truetype"), url("Zilap_Orion_Urban_Personal_Use.svg#ZilapOrionPersonalUse-Urban") format("svg");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 80px 0 5px 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #dbdbdb;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Montserrat";
  font-size: 16px;
  font-weight: 400;
  background: #f4f4f4;
  color: #1e150b;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

a,
a:active,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: 0;
  font-family: "Montserrat";
  color: #4c3e31;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 14px;
  height: 100%;
  margin: 0 auto;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.flex-wrapper.just-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-wrapper.just-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-wrapper.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-wrapper.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.delay-1500 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.delay-2500 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.delay-3500 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.delay-4500 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.section {
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  position: relative;
  padding: 0 14px;
  overflow: hidden;
}

.section-index {
  max-width: 100%;
}

.section-about {
  max-width: 1366px;
  margin: 0 auto;
}

.section-works {
  max-width: 1366px;
  margin: 0 auto;
  padding: 120px 14px 0 14px;
}

.animated {
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* Navbar */
nav {
  background: none;
  color: #1e150b;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  z-index: 100;
  height: 100px;
}

nav .brand-logo,
nav .brand-logo:visited,
nav .brand-logo:focus {
  font-family: "Zilap";
  font-size: 24px;
  color: #4c3e31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 100px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav ul a {
  color: #1e150b;
  font-weight: 500;
  line-height: 32px;
}

nav ul li {
  margin-left: 14px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  color: #1e150b;
}

/* sidenav */
.sidenav li a {
  font-weight: 500;
  color: #1e150b;
}

/* main-section */
.zq-description,
.zq-pic,
.zq-more {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  position: relative;
}

.zq-pic img {
  position: absolute;
  z-index: 10;
  width: auto;
  min-height: 650px;
  top: 0px;
}

.bg-title {
  position: absolute;
  width: 100%;
  max-width: calc(1366px - 28px);
}

.zq-d-content,
.zq-more {
  position: absolute;
  line-height: 32px;
  padding-top: 14px;
  cursor: default;
  font-family: "Montserrat";
  font-weight: 500;
}

.preload-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #4c3e31;
  letter-spacing: 5px;
}

.preload-section img {
  width: 100px;
  height: 100px;
}

/* ABOUT */
.clip-work-part,
.about-description-part {
  height: 100%;
  width: 100%;
}

.clip-work-part {
  padding-top: 124px;
}

.about-clip-a,
.about-clip-b,
.about-clip-c,
.about-clip-d {
  height: 20%;
  margin-bottom: 14px;
}

.about-clip-a {
  -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
}

.about-clip-b {
  -webkit-clip-path: polygon(0 0%, 89% 0%, 80% 100%, 0 100%);
          clip-path: polygon(0 0%, 89% 0%, 80% 100%, 0 100%);
}

.about-clip-c {
  -webkit-clip-path: polygon(0 0%, 79% 0%, 70% 100%, 0 100%);
          clip-path: polygon(0 0%, 79% 0%, 70% 100%, 0 100%);
}

.about-clip-d {
  -webkit-clip-path: polygon(0 0%, 69% 0%, 60% 100%, 0 100%);
          clip-path: polygon(0 0%, 69% 0%, 60% 100%, 0 100%);
  margin-bottom: 0px;
}

.pic-a,
.pic-b,
.pic-c,
.pic-d {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.pic-a {
  background-image: url(/img/clip/001.jpg);
}

.pic-b {
  background-image: url(/img/clip/005.jpg);
}

.pic-c {
  background-image: url(/img/clip/003.png);
}

.pic-d {
  background-image: url(/img/clip/006.jpg);
}

.mask {
  color: #fff;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0 0px 6px rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mask:hover {
  background: rgba(0, 0, 0, 0);
}

.mask:hover + .pic-a,
.mask:hover + .pic-b,
.mask:hover + .pic-c,
.mask:hover + .pic-d {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.about-description-part {
  color: #1e150b;
  font-size: 16px;
  font-family: "Noto Sans TC";
  font-weight: 300;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
  cursor: default;
}

.about-description-part p {
  position: relative;
}

.about-description-part p span {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.about-description-part p::before {
  content: "";
  position: absolute;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-top: 1px solid #4c3e31;
  border-left: 1px solid #4c3e31;
  top: -30px;
  left: -30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.about-description-part p::after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-bottom: 1px solid #4c3e31;
  border-right: 1px solid #4c3e31;
  right: -30px;
  bottom: -30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

/* WORKS */
.gallery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 14px;
}

a.gallery-item {
  display: block;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  max-width: calc(20% - 14px * 4 / 5);
  min-width: calc(20% - 14px * 4 / 5);
  overflow: hidden;
  border-radius: 5px;
  padding: 14px;
  margin: 0px 14px 14px 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.gallery-item:hover {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

a.gallery-item:nth-child(5n) {
  margin-right: 0;
}

@media (max-width: 1400px) {
  a.gallery-item {
    max-width: calc(25% - 14px * 3 / 4);
    min-width: calc(25% - 14px * 3 / 4);
  }
  a.gallery-item:nth-child(5n) {
    margin-right: 14px;
  }
  a.gallery-item:nth-child(4n) {
    margin-right: 0px;
  }
}

@media (max-width: 1092px) {
  a.gallery-item {
    max-width: calc(33.333% - 14px * 2 / 3);
    min-width: calc(33.333% - 14px * 2 / 3);
  }
  a.gallery-item:nth-child(4n) {
    margin-right: 14px;
  }
  a.gallery-item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  a.gallery-item {
    max-width: calc(50% - 14px * 1 / 2);
    min-width: calc(50% - 14px * 1 / 2);
  }
  a.gallery-item:nth-child(3n) {
    margin-right: 14px;
  }
  a.gallery-item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media (max-width: 500px) {
  a.gallery-item {
    max-width: calc(100%);
    min-width: calc(100%);
  }
  a.gallery-item:nth-child(2n) {
    margin-right: 14px;
  }
  a.gallery-item:nth-child(1n) {
    margin-right: 0px;
  }
}

.gallery-item-head {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.gallery-item-head-img-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-item-body {
  padding: 14px 0 0 0;
}

.gallery-item-title {
  font-size: 16px;
  font-weight: 700px;
  font-family: "Noto Sans TC";
  margin-bottom: 14px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gallery-item-content {
  font-size: 14px;
  font-family: "Noto Sans TC";
  font-weight: 300;
  color: #707070;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-item-content-des,
.gallery-item-content-time {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gallery-item-content-time {
  font-family: "Montserrat";
}

nav .nav-wrapper i.backer,
.backer {
  color: #b2b2b2;
  margin-right: 10px;
  font-size: 16px;
}

/* INSIDE THE WORK */
.banner-section {
  width: 100%;
  padding-top: 120px;
}

.banner-img-wrapper {
  padding: 14px;
  margin: 14px;
  border: 1px solid #dedede;
  border-radius: 5px;
  text-align: center;
}

.banner-img-wrapper img {
  width: 60%;
  margin: 10px auto;
  border-radius: 10px;
}

.banner-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #dedede;
}

.work-content-section {
  font-size: 16px;
  font-weight: 300;
  padding: 14px;
}

.work-content-title {
  font-size: 24px;
}

.work-content-details {
  padding: 14px 0;
  line-height: 24px;
}

.gif-description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
}

.gif-description-wrapper .gif-txt {
  max-width: 400px;
  padding: 14px;
  line-height: 32px;
  position: relative;
}

.gif-description-wrapper .gif-wrapper {
  max-width: 375px;
  max-height: 815px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.gif-description-wrapper .gif-wrapper img {
  height: 100%;
}

.adobe-xd {
  position: absolute;
  left: -50px;
  top: -80px;
  height: 50px;
  width: auto;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.protopie {
  position: absolute;
  left: 20%;
  top: -150px;
  height: 100px;
  width: auto;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.zeplin {
  position: absolute;
  right: 15%;
  top: -120px;
  height: 80px;
  width: auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.sketch {
  position: absolute;
  right: 15%;
  bottom: -80px;
  height: 80px;
  width: auto;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.bcicons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.bcicons {
  max-width: 800px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.bcicons-txt {
  margin-left: 24px;
  padding: 14px;
  line-height: 32px;
  position: relative;
}

.work-static-website,
.work-static-website:active,
.work-static-website:visited,
.work-static-website:focus {
  border: 1px solid #4c3e31;
  padding: 15px 35px;
  border-radius: 40px;
  font-family: "Noto Sans TC";
  display: inline-block;
  font-size: 16px;
  margin: 14px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.work-static-website:hover {
  background: rgba(0, 0, 0, 0.1);
}

.tags {
  position: absolute;
  top: 5px;
  left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rwd-tag,
.multi-browser-tag {
  color: #f4f4f4;
  font-weight: 500;
  margin-right: 5px;
  font-family: "Noto Sans TC", "Montserrat";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  padding: 0 10px;
  border-radius: 3px;
}

.rwd-tag {
  background: #1e150b;
}

.multi-browser-tag {
  background: #31a3ef;
}

.gallert-sub-title {
  font-size: 18px;
  font-family: "Montserrat";
  color: #4c3e31;
  font-weight: 700;
  padding: 14px 0;
  margin-bottom: 14px;
}

/* RWD */
@media (max-width: 1366px) {
  .section {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  nav {
    height: 64px;
  }
  nav .brand-logo {
    line-height: 64px;
  }
  .bg-title {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */