html, body {
    font-size: 10px;
    font-weight: 400;
    line-height: 2;
    background-color: $skin;
}

* {
    font-size: 1.4rem;
    cursor: default;
}

a {
    display: inline-flex;
    align-items: center;
    color: $deepblue;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    &:active, &:focus, &:visited {
        color: $white;
    }
    span {
        cursor: pointer;
    }
    &:hover {
        color: $red;
    }
}

span {
    display: inline-flex;
    align-items: center;
}

.container {
    width: calc(100% - 3rem);
    max-width: 1436px;
    margin: 0 auto;
}

#apptc, #appsc {
    display: none;
}

// custom_select
.select_container {
    font-size: 1.4rem;
}

.custom_select {
    display: inline-block;
    background-color: $white;
    color: $deepblue;
    border-radius: 40px;
    transition: all 0.2s ease;
    position: relative;
    width: auto;
    text-align: center;
    padding: 0rem 2rem 0rem 1rem;
    outline: none;
    cursor: pointer;
    &:hover {
        background: $w50;
    }
}
.select-flex-wrapper {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.select_title {
    cursor: pointer;
    height: 100%;
}

.selected {
    padding: 8px 5px 8px 15px;
    white-space: nowrap;
    cursor: pointer;
}

.select_i {
    color: $deepblue;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-right: 5px;
}

.custom_select:active {
    background-color: $w50;
}

.custom_select.active:hover,
.custom_select.active {
    border-radius: 2rem 2rem 0 0;
    background-color: $w50;
    border: none;
}

.custom_select.active .select_i {
    transform: rotate(90deg);
}

.select_menu {
    position: absolute;
    background-color: $white;
    width: 100%;
    top: 100%;
    left: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: none;
    overflow-y: auto;
    z-index: 9;
    padding: 0;
    list-style: none;
}

.select_menu>li {
    padding: .8rem 2rem;
    cursor: pointer;
}

.select_menu>li:hover {
    background-color: $graypink;
}

.select_menu>li:active {
    background-color: $graypink;
}

//select custom end

nav {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 4rem 3rem;
    transition: .2s;
    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    flex-direction: column;
}

.nav-wrap, .nav-items-wrap {
    display: inline-flex;
    align-items: center;
}
.nav-logo {
    margin-right: 2.5rem;
}
.nav-item {
    margin: 0 2.5rem;
}

.nav-icon {
    border-radius: 100%;
    background-color: $trans;
    transition: .1s;
    margin-left: 3.2rem; 
    span {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 3.6rem;
        width: 3.6rem;
        cursor: pointer;
    }
    &.fb {
        span {
            background-image: url(../img/index/fb.svg);
        }
    }
    &.as {
        span {
            background-image: url(../img/index/as.svg);
        }
    }
    &.ins {
        span {
            background-image: url(../img/index/ins.svg);
        }
    }
    &.ham {
        span {
            background-image: url(../img/index/ham.svg);
        }
    }
    &:hover {
        background-color: $graypink50;
        &.fb {
            span {
                background-image: url(../img/index/fb-r.svg);
            }
        }
        &.as {
            span {
                background-image: url(../img/index/as-r.svg);
            }
        }
        &.ins {
            span {
                background-image: url(../img/index/ins-r.svg);
            }
        }
    }
    &.ham {
        display: none;
    }
}
/*
-----------
Scroll Top
-----------
*/
.scrollTop {
    position: fixed;
    z-index: 10;
    right: 15px;
    bottom: 15px;
    background-color: $graypink50;
    padding: 0 1.5rem;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    font-weight: 900;
    font-size: 2.4rem;
    color: $white;

    cursor: pointer;
    svg {
        cursor: pointer;
    }
  }
/*
-----------
Sticky Nav
-----------
*/
nav.sticky {
    width: 100%;
    
    border-top: 0;

    background-color: $graypink50;
    padding: 2rem 2rem 1rem 2rem;
}
/*
-----------
Section
-----------
*/
.section-title {
    font-size: 4.8rem;
    font-weight: 900;
    text-align: center;
    color: $deepblue;
}

/*
------------
Section KV
------------
*/
section:nth-child(1) {
    padding-top: 13.8rem;
}
.kv-wrap {
    position: relative;
    display: flex;
    background-image: url(../img/index/star-bg.jpg);
    border-radius: 50px;
}
.kv-img {
    width: calc(30% + 10rem);
    position: relative;
}
.eve {
    position: absolute;
    bottom: 0;
    right: 10rem;
    display: inline-flex;
    width: auto;
    height: 65rem;
    z-index: 1;
}
.kv-txt-wrap {
    width: calc(70% - 10rem);
    width: 100%;
    padding: calc((90/1920)*100vw) calc((100/1920)*100vw);
}
.kv-slogan {
    line-height: 1.2;
    font-size: 90px;
    color: $white;
    font-weight: 900;
}
.kv-txt {
    color: $white;
    font-size: 2rem;
    margin: 2rem 0;
    em {
        font-weight: 600;
    }
}
.primary-btn {
    background-color: $deepblue;
    padding: 1.5rem 0;
    color: $white;
    width: calc(100% - 3rem);
    max-width: 65rem;
    border-radius: 5rem;
    justify-content: center;
    transition: .2s;
    &:hover {
        background-color: $lightblue;
        span {
            color: $white;
        }
    }
}

/*
------------
Section Skill
------------
*/
section#skill {
    margin-bottom: 15rem;
}
.divi-wide {
    height: 1px;
    width: 100%;
    background-color: $gray80;
    margin: 5rem 0;
}

.skill-item_title {
    font-size: 2.4rem;
    font-weight: 600;
    color: $lightblue50;
    margin-bottom: 2rem;
}

.skill-item_img {
    img {
        margin: 1rem;
    }
}

.skill-item_txt {
    font-weight: 400;
    color: $lightblue50;
}

.skill-item {
    width: calc((1/3)*100%);
    &:nth-child(2) {
        margin: 0 2rem;
    }
}

.skill-content-wrap {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

/*
------------
Section About
------------
*/

section#about {
    background-color: $deepblue;
}
.about-wrap {
    display: flex;
    width: 100%;
}
.about-img {
    position: relative;
    width: 50%;
}
.mockup {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    height: 110%;
}
.about-txt-wrap {
    width: 50%;
    color: $white;
    padding: 3vw 0;
}
.about-txt_title {
    font-size: 48px;
    font-weight: 900;
}

/*
------------
Section Works
------------
*/
section#works {
    background-color: $graypurple;
    padding: 5rem 0;
    text-align: center;
}
.works-items-wrap {
    display: flex;
    margin: 3rem 0;
}
.work-item {
    position: relative;
    width: calc((1/6)*100%);
    height: 0px;
    padding-top: calc(56.25% * (1/6));
    opacity: .5;
    transition: .2s;
    cursor: pointer;

    @extend %hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    &:hover {
        opacity: 1;
    }
}

/*
------------
Footer
------------
*/
footer {
    background-color: $black;
    color: $skin;
    padding: 5vw 0;
    a {
        color: $skin;
    }
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
}
.footer-btn-item {
    margin: 0 0 0 1rem;
    &:hover {
        color:$graypurple;
    }
}

/*
------------
Modal
------------
*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    
    z-index: 100;
     p {
         line-height: 2;
     }
}
.modal-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-closer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-panel {
    position: relative;
    padding: 32px;
    background-color: $skin;
    z-index: 1;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    &.alert {
        max-width: 550px;
    }
}
.modal-title {
    font-size: 24px;
    margin-bottom: 24px;
}
.modal-body {
    width:100%;
}
.modal-footer {
    text-align: center;
    margin-top: 10px;
    .primary-btn {
        margin: 0;
    }
}
.nav-items-wrap_mobile {
    .nav-item {
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 2rem 0;
    }
}
.modal-closer_btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    img {
        cursor: pointer;
    }
}

/*
------------
WORKS
------------
*/
.works-content {
    display: none;
    &.active {
        display: block;
    }
}
.section-content {
    width: 100%;
}
a.work-item_of {
    width: calc((1/4)*100%);
    cursor: pointer;
    line-height: 1.5;
}
.item-wrap {
    width: 100%;
    cursor: pointer;
}
.item-img {
    height: 0;
    width: 100%;
    max-width: 100%;
    padding-top: 52.25%;
    position: relative;

    @extend %hidden;

    object-fit: cover;
    object-position: center;

    img {
        display: inline-flex;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.item-title {
    font-weight: 600;
    color: $lightblue;
    font-size: 1.6rem;
    padding: .5rem 0 0 0;
}
.item-subtitle {
    color: $lightblue50;
    font-size: 1rem;
}
.item-body {
    padding: 2rem 0;
    text-align: center;
}

/*
--------------
Side Swicher
--------------
*/

.side-switcher-part {
    display: inline-flex;
    width: 100%;
}
.side-switcher-wrap {
    display: inline-flex;
    position: relative;
    width: 100%;
}
.switch-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $graypink;
    width: calc((1/3)*100%);
    font-size: 1.4rem;
    line-height: 1.5;
    padding:  2rem 0;
    color: $skin;
    &:not(:last-child) {
        border-right: 1px solid $skin;
    }
}