body{
    background: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/2018seasonbox/img/bg.jpg) top center no-repeat;
    background-size: 1920px 1800px;
    overflow-x: hidden;
    margin: 0;
}
.wrapper {
  position: relative;
  min-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.main{
    width: 1000px;
    margin: 15px auto;
    position: relative;
    display: block;
}

.header {
	width: 1000px;
    margin: 0 auto;
    height: 820px;
    display: block;
    position: relative;
}
.logo{
    position: relative;
    top: 140px;
    margin-left: 165px;
    display: block;
}
.title {
    position: relative;
    margin-top:  160px;
    display: block;
    margin-left: 35px;
    -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 1));
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 1));
}
.header p{
    color: #b7aa7b;
    /*position: absolute;*/
    margin-top: 50px;
    font-size: 1.4em;
    /*font-weight: bold;*/
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 1));
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 1));
    margin-left: 35px;
    display: block;
    position: relative;
    letter-spacing: 2px;　
}
/*Nav*/
.nav {
	position: relative;
    margin-top: 70px;
    width: 100%;
}
.nav li{    
    display: inline-block;
    margin-right:calc(80px/3.55);
    width: 224px;
    height: 69px;
    text-align: center;
    padding: 3px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5),0px 0px 10px rgba(0, 0, 0, 0.5),0px 0px 10px rgba(0, 0, 0, 0.5);
}
.nav li a{
    
   background-color: #151515;
    color: #d2c38c;
    text-align: center;
    line-height: 3.85em;
    letter-spacing: 3px;　
    background-color: #151515;
    display: block;
    
}
.nav li:last-child{margin-right: 0;}
.nav li:hover, .nav li a:hover{
    color: #fff;
}

.line{
    background: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/2018seasonbox/img/line.png) center no-repeat;
    width: 100%;
    height: 35px;
    display: block;
    
}
.line_2{
    background: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/2018seasonbox/img/divider-deco.png) center no-repeat;
    width: 100%;
    height: 23px;
    display: block;
    position: relative;
    margin: 30px auto;
    
}
.box{
    background-image: linear-gradient(#8e7129, #432604);
    padding: 2px;
    display: block;
}

.box > div{
    background-color: #070605;
    width: auto;
    height: auto;
    padding: 5px 15px;
    color: #fff;
}

.inbox{padding: 20px 35px;}
.sign{
    margin: 15px 0;
    font-size: 0.85em;
}
.sign_bg{
    background-image: linear-gradient(#29ddf2, #034f75);
    padding: 3px 2px;
    display: inline-block;
    margin-left: 10px;
    transition:background 1s;
}
.sign_bg span{
    color: #b0f8ff;
    background-image: linear-gradient(#171717, #424242);
    padding: 2px 20px;
}
.sign_bg:hover{
    background-image: linear-gradient(#045278, #28dcf1, #045378);
}
.sign_bg:hover span{
    background-image: linear-gradient(#1b1a1b, #171818, #151515);
}
.bagarea{
	position: relative;
	/*height: 454px;*/
	margin: 0 auto;
	/*top: 75px;*/
}
.bagarea > div{
	display: inline-block;
	margin:0 3px;
    border: solid 1px #775619;
    width: calc(100%/3.11);
    text-align: center;
}

.title_line{
    background-color:#775619;
    width: 100%;
    height: 1px;
}
.photo{
    position: relative;
    display: block;
    
}
.bright{
    position: absolute;
    top: 0;
    left: 40px;
    mix-blend-mode:overlay ;
    -moz-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
		
	animation-name:go1;
	animation-timing-function:ease;
	animation-duration:2.5s;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction:normal;
	animation-play-state:running;
	
		
	-webkit-animation-name:go1;
	-webkit-animation-timing-function:ease;
	-webkit-animation-duration:2.5s;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:normal;
	-webkit-animation-play-state:running;
}

@keyframes go1{
0% {opacity:0.3;}
25% {opacity:0;}
50%{	opacity:0.2;	}
75%{opacity:0;	}
100%{	opacity:0.3;	}
}


@-webkit-keyframes go1{
0% {opacity:0.3;}
25% {opacity:0;}
50%{	opacity:0.2;	}
75%{opacity:0;	}
100%{	opacity:0.3;	}
}

.price{
    border: solid 1px #5a4e2a;
    background-color:rgba(27, 27, 27, 0.5);
    font-size: 1.2em;
    width: 245px;
    margin: -45px auto 10px;
    position: relative;
}
.price span{
    font-size: 1.75em;
    margin-right: 5px;
    font-weight: bolder;
}
.bttn{
    width: 245px;
    margin: 25px auto;
    padding: 0;
    
}
.bttn li{
    display: inline-block;    
}
.bttn li.box a{
    color: #d2c38c;
    background-color: #1b1b1b;
    padding: 5px 29px;
    display: block;
}
.bttn li:first-child{margin-right: 5px;}
.bttn li.box a:hover{color: #fff;}

.dialog{
    position: absolute;
    bottom: 140px;
    opacity: 0;
    font-size: 0.85em;
    transition: opacity 1s;
  
}
/* 對話框，邊框式（下三角） */
.dialog-border-bottom {
    border: 1px solid #ac944c;
    height: auto;
    position: relative;
    width: 234px;
    background-color: #141414;
    padding:10px 5px;
    text-align: left;
}
.dialog-border-bottom:before {
    border-color: #ac944c transparent transparent; 
    border-style: solid solid solid; 
    border-width: 20px 20px 20px 20px; 
    bottom: -40px;

    /* 必須指定，才能顯示內容 */
    content: '';

    height: 0px;
    left: 20px; 

    /* 必須指定，否則會變梯形 */
    position: absolute;

    width: 0px;
}
.dialog-border-bottom:after {
    border-color: #141414 transparent transparent; 
    border-style: solid solid solid solid; 
    border-width: 20px; 
    bottom: -39px;

    /* 必須指定，才能顯示內容 */
    content: '';

    height: 0px;
    left: 20px; 

    /* 必須指定，否則會變梯形 */
    position: absolute;

    width: 0px;
}
.dialog .dialog-border-bottom > ul{
    list-style-type:disc;
    padding-left:30px;
}
.dialog .dialog-border-bottom > ul li{
    display:list-item;
}

.show_a{
    opacity: 1;
}
.times{
    color: #aea275;
    margin-bottom: 20px;
}

/* 計時器 */
.zoneTimeout {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin: 15px auto 10px;
position: relative;
}
.zoneTimeout img{
    vertical-align: text-bottom;
}

#getting-started {
  display: inline-block;
}

.zoneTreasure, .zoneTimeout, .btn-confirm, .btn-confirm-b {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", PMingLiU, "新細明體";
  letter-spacing: 0em;
}
.zoneTimeout span{
    font-size: 1.75em;
}

/*popup*/
.overPopShowM { border-image: url("https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/2018seasonbox/img/frame-rainbow.png") 30 20 round repeat !important; border-width: 30px; background-image: none; padding-top: 0; margin-top: 5%;
padding-top: 0; margin-top: 5%; color: #b7aa7b; text-align: center;
}

.overPopShowM > div{
    background-color: #151515;
    height: 100%;
}
.caption{
    text-align: left;
}
a.close{width:153px; margin: 1em auto ;}
a.close div{
    color: #aea275;
    padding: 5px 29px;
    display: block;
}
.notice{
    border: solid 1px #5a4e2a;
    font-size: 0.85em;
    padding: 0.85em;
    margin: 1em auto;
}
.overPopShowM .bagarea > div{
    width: calc(100%/3.2);
    margin: 1em 5px;
    height: 590px;
    vertical-align: top;
}
.confirm-text{
    color: #fff;
    text-align: left;
    list-style-type:disc;
    padding-left: 40px;
    display: block;
    font-size: 0.85em;
    height: 144px;
    width: 220px;
}
.confirm-text li{
    display: list-item;
}
.confirm-text li:first-child{
    color: #e5a95f;
}

/*小分頁*/
.pagination {
    margin: 15px auto;
    
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  font-size: 12px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  display: block;
  background: #0f0f0f;
  color: #775619;
  text-decoration: none;
    border: solid 1px #775619;
    font-weight: bolder;
}

.pagination li a:hover {
  background: #775619;
  color: #0f0f0f;
}

.pagination li .active {
  background: #775619;
  color: #0f0f0f;
}
.note{
    width: 90%;
    margin: 0 auto;
}
.note ol{
    text-align: left;
    list-style-type:decimal;
}
.note li{ 
    display: list-item;
    margin-bottom: 0.5em;
}

/*捲軸*/
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color:  rgba(149, 122, 55, 0.75);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background-color: rgba(149, 122, 55, 0.85);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: rgba(149, 122, 55, 0.9);
}


/*購物流成*/

#buy{
    background: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/2018seasonbox/img/step_bg.png) center no-repeat #141414; 
    /*background-size: cover;*/
}
.step_1 span{
    color: #fff;
    font-size: 2.25em;
    margin: 0 10px;
}
.result{color: #fff;}
#buy h2{
    font-size: 2.25em;
    font-weight: bold;
}
#buy .left{
    width: 300px;
    margin: 10px auto;
    text-align: left;
}

/*Header動畫*/
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}