@font-face {
  font-family: 'Beaufort';
  src: url("https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/BeaufortforLOL-Regular.eot");
  src: url("https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/BeaufortforLOL-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/BeaufortforLOL-Regular.woff") format("woff"), url("https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/BeaufortforLOL-Regular.ttf") format("truetype"), url("https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/BeaufortforLOL-Regular.svg#0e0a948fd562036c3b27e99b819fa71f") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC100';
  font-style: normal;
  font-weight: 100;
  src: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Thin.woff2) format("woff2"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Thin.woff) format("woff"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Thin.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans TC300';
  font-style: normal;
  font-weight: 300;
  src: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Light.woff2) format("woff2"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Light.woff) format("woff"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans TC400';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Regular.woff2) format("woff2"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Regular.woff) format("woff"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans TC500';
  font-style: normal;
  font-weight: 500;
  src: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Medium.woff2) format("woff2"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Medium.woff) format("woff"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans TC700';
  font-style: normal;
  font-weight: 700;
  src: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Bold.woff2) format("woff2"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Bold.woff) format("woff"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans TC900';
  font-style: normal;
  font-weight: 900;
  src: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Black.woff2) format("woff2"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Black.woff) format("woff"), url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/fonts/NotoSansTC-Black.otf) format("opentype");
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, b {
  font-weight: normal;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  text-decoration: none;
}

input, button, textarea, select, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

textarea:focus, input:focus {
  outline: none;
}

.footer-w {
  color: #a0a0a0;
  font-size: 12px;
  margin-bottom: 2%;
  position: relative;
  z-index: 50;
  display: inline-block;
  vertical-align: top;
  font-family: "Noto Sans TC400", "Beaufort", "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, PMingLiU, \65B0\7D30\660E\9AD4;
}

.footer-o {
  position: relative;
  width: 100%;
}

.footer-i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  margin: 2rem auto 0;
  width: 1260px;
  overflow: hidden;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

@media screen and (max-width: 1240px) {
  .footer {
    width: 1000px;
    margin: 0 3%;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    width: 94%;
    margin: 1% 3%;
  }
}

.footer.select {
  visibility: visible;
  opacity: 1;
  height: inherit;
}

.footer:after {
  clear: both;
  content: "";
  display: table;
}

.footer-logo {
  float: left;
  margin: 0 10px 0 30px;
}

@media screen and (max-width: 1240px) {
  .footer-logo {
    margin: 0 4px 0 10px;
  }
}

@media screen and (max-width: 1000px) {
  .footer-logo {
    margin: 0 0 10px;
    font-size: 0;
    text-align: center;
    float: none;
  }
}

.footer-logo li {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 1240px) {
  .footer-logo li {
    margin: 0 3px 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .footer-logo li {
    margin: 0 20px;
  }
}

.footer-logo__riot {
  display: block;
  width: 68px;
  height: 46px;
  background-image: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/footer/copyright-sprite-32.png);
}

.footer-logo__garena {
  margin: 3px 0 0;
  display: block;
  width: 45px;
  height: 42px;
  background-image: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/footer/copyright-sprite-32.png);
  background-position: 80px -53px;
}

.footer-copyrights {
  float: left;
  width: 550px;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1240px) {
  .footer-copyrights {
    width: 410px;
    margin: 0 5px 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .footer-copyrights {
    margin: 0 auto 6px;
    float: none;
    width: 100%;
    text-align: center;
  }
}

.footer-localinfo {
  font-size: 12px;
}

.footer-localinfo span {
  display: block;
  color: #4280da;
}

.footer-localinfo-w {
  position: relative;
  width: 290px;
  padding: 0 40px 0 60px;
  font-size: 0;
  float: left;
}

@media screen and (max-width: 1240px) {
  .footer-localinfo-w {
    width: 240px;
    padding: 0 35px 0 55px;
  }
}

@media screen and (max-width: 1000px) {
  .footer-localinfo-w {
    float: none;
    width: auto;
    padding: 0 40px 10px 60px;
  }
}

.footer-localinfo__lv {
  position: absolute;
  width: 48px;
  height: 47px;
  background-image: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/footer/copyright-sprite-32.png);
  background-position: -69px 0;
  left: 0;
  top: 0;
}

.footer-localinfo__fb {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/footer/copyright-sprite-32.png);
  background-position: -118px 0;
  right: 0;
  top: 0;
}

html, body {
  height: 100%;
}

body {
  font: 18px/1.6 "Noto Sans TC400", "Beaufort", "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, PMingLiU, \65B0\7D30\660E\9AD4;
  background: #06182e;
}

.wrapper {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.wrapper-i {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #000;
    border-top: #094d4d 1px solid;
}

.wrapper-topbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.wrapper-nav {
  overflow: hidden;
  box-sizing: border-box;
}

.footer-w {
  color: #a0a0a0;
  font-size: 12px;
  margin-bottom: 2%;
  position: relative;
  z-index: 50;
  display: inline-block;
  vertical-align: top;
  font-family: "Noto Sans TC400", "Beaufort", "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, PMingLiU, \65B0\7D30\660E\9AD4;
}

.footer-o {
  position: relative;
  width: 100%;
}

.footer-i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  margin: 2rem auto 0;
  width: 1260px;
  overflow: hidden;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

@media screen and (max-width: 1240px) {
  .footer {
    width: 1000px;
    margin: 2% 3%;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    width: 94%;
    margin: 2% 3%;
  }
}

.footer.select {
  visibility: visible;
  opacity: 1;
  height: inherit;
}

.footer:after {
  clear: both;
  content: "";
  display: table;
}

.footer-logo {
  float: left;
  margin: 0 10px 0 30px;
}

@media screen and (max-width: 1240px) {
  .footer-logo {
    margin: 0 4px 0 10px;
  }
}

@media screen and (max-width: 1000px) {
  .footer-logo {
    margin: 0 0 10px;
    font-size: 0;
    text-align: center;
    float: none;
  }
}

.footer-logo li {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 1240px) {
  .footer-logo li {
    margin: 0 3px 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .footer-logo li {
    margin: 0 20px;
  }
}

.footer-logo__riot {
  display: block;
  width: 68px;
  height: 46px;
  background-image: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/footer/copyright-sprite-32.png);
}

.footer-logo__garena {
  margin: 3px 0 0;
  display: block;
  width: 45px;
  height: 42px;
  background-image: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/footer/copyright-sprite-32.png);
  background-position: 80px -53px;
}

.footer-copyrights {
  float: left;
  width: 550px;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1240px) {
  .footer-copyrights {
    width: 410px;
    margin: 0 5px 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .footer-copyrights {
    margin: 0 auto 6px;
    float: none;
    width: 100%;
    text-align: center;
  }
}

.footer-localinfo {
  font-size: 12px;
}

.footer-localinfo span {
  display: block;
  color: #4280da;
}

.footer-localinfo-w {
  position: relative;
  width: 290px;
  padding: 0 40px 0 60px;
  font-size: 0;
  float: left;
}

@media screen and (max-width: 1240px) {
  .footer-localinfo-w {
    width: 240px;
    padding: 0 35px 0 55px;
  }
}

@media screen and (max-width: 1000px) {
  .footer-localinfo-w {
    float: none;
    width: auto;
    padding: 0 40px 10px 60px;
  }
}

.footer-localinfo__lv {
  position: absolute;
  width: 48px;
  height: 47px;
  background-image: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/footer/copyright-sprite-32.png);
  background-position: -69px 0;
  left: 0;
  top: 0;
}

.footer-localinfo__fb {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(https://cdngarenanow-a.akamaihd.net/games/lol/tw/web/media/upload/footer/copyright-sprite-32.png);
  background-position: -118px 0;
  right: 0;
  top: 0;
}


.togallery {
	position: absolute;
	left: 14px;
	top: 14px;
	padding: 15px 35px;
	border-radius: 40px;
	color: #b2b2b2;
	border: 1px solid #b2b2b2;
	transition: .3s;
}

  
.togallery:hover {
		background: rgba(178, 178, 178, 0.2);
}

.backer {
	color: #b2b2b2;
	margin-right: 10px;
	font-size: 16px;
}
  
