<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="[本網站的縮圖顯示請放置此處]">
    <meta property="og:description" content="結合電腦插畫繪圖、專業UIUX設計與前端開發人員">
    <title>ZQARTWORK</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- 基礎歸零設置 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3530f29c86.js" crossorigin="anonymous"></script>
    <!-- owlCarousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <!-- 自訂設置 -->
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="wrapper" id="app">
        <!-- Navbar -->+
        <div class="preload-section">
            <img src="img/preload.svg" alt="">
            LOADING
        </div>
        <nav>
            <div class="nav-wrapper container">
                <a href="index.html" class="brand-logo" @click='page=0'>ZQARTWORK</a>
                <ul class="right hide-on-med-and-down">
                    <li :class='{active:page==1}'><a href="about.html" @click='page=1'>ABOUT</a></li>
                    <li :class='{active:page==2}'><a href="works.html" @click='page=2'>WORKS</a></li>
                    <li><a href="https://www.cakeresume.com/zqartwork">EXPERIENCE</a></li>
                    <li><a href="https://www.cakeresume.com/zqartwork">CONTACT</a></li>
                </ul>
                <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="fas fa-bars"></i></a>
            </div>
        </nav>

        <!-- Sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li :class='{active:page==1}'><a href="about.html" @click='page=1'>ABOUT</a></li>
            <li :class='{active:page==2}'><a href="works.html" @click='page=2'>WORKS</a></li>
            <li><a href="https://www.cakeresume.com/zqartwork">EXP</a></li>
            <li><a href="https://www.cakeresume.com/zqartwork">CONTACT</a></li>
        </ul>

        <!-- 主要內容區域 -->
        <div class="">
            <div class="section-works" id="works">
                <div class="gallert-sub-title">Front-end Develope and Website UI/UX</div>
                <div class="gallery-wrapper">
                    <a class="gallery-item" :href="work.href" v-for="work in works">
                        <div class="gallery-item-head">
                            <div class="gallery-item-head-img-wrapper">
                                <img :src="work.link" alt="">
                            </div>
                            <div class="tags">
                                <div class="rwd-tag" v-if="work.isRWD == true">RWD</div>
                                <div class="multi-browser-tag" v-if="work.multiBrowser == true">跨瀏覽器</div>
                            </div>
                        </div>
                        <div class="gallery-item-body">
                            <div class="gallery-item-title">
                                {{work.title}}
                            </div>
                            <div class="gallery-item-content">
                                <div class="gallery-item-content-des">{{work.content}}</div>
                                <div class="gallery-item-content-time">{{work.time}}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallert-sub-title">APP UI/UX</div>
                <div class="gallery-wrapper">
                    <a class="gallery-item" :href="UI.href" v-for="UI in UIs">
                        <div class="gallery-item-head">
                            <div class="gallery-item-head-img-wrapper">
                                <img :src="UI.link" alt="">
                            </div>
                            <div class="tags">
                                <div class="rwd-tag" v-if="UI.isRWD == true">RWD</div>
                                <div class="multi-browser-tag" v-if="UI.multiBrowser == true">跨瀏覽器</div>
                            </div>
                        </div>
                        <div class="gallery-item-body">
                            <div class="gallery-item-title">
                                {{UI.title}}
                            </div>
                            <div class="gallery-item-content">
                                <div class="gallery-item-content-des">{{UI.content}}</div>
                                <div class="gallery-item-content-time">{{UI.time}}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallert-sub-title">Digital Paintings</div>
                <div class="gallery-wrapper owl-carousel owl-theme">
                    <div v-for="dp in dps" class="item">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- 3.4.1 jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                page: 2,
                works: [{
                        title: '財團法人青馬影藝學院網站',
                        content: '線上影藝教學',
                        time: '2019 / 04',
                        link: 'https://zqartwork.github.io/qing-ma.academy/',
                        href: 'assets/qing-ma.html',
                        isRWD: true,
                        multiBrowser: false,
                    },
                    {
                        title: '恆星網路科技公司官網',
                        content: 'Solertech Official',
                        time: '2019 / 06',
                        link: 'img/work/wk_solart.jpg',
                        href: 'assets/solartninc.html',
                        isRWD: true,
                        multiBrowser: true,
                    },
                    {
                        title: '直播平台統計管理後臺',
                        content: 'Dashboard',
                        time: '2019 / 07',
                        link: 'img/work/wk_dashoboard_001.png',
                        href: 'assets/dashboard.html',
                        isRWD: true,
                        multiBrowser: true,
                    },
                    {
                        title: '2019 英雄聯盟 ECS 宣傳網站',
                        content: '聯賽官方網站',
                        time: '2018 / 11',
                        link: 'img/work/wk_ecs.png',
                        href: 'assets/ecs.html',
                        isRWD: false,
                        multiBrowser: false,
                    },
                    {
                        title: '英雄聯盟 S8 季前活動網站',
                        content: '開季前獎勵網站',
                        time: '2018 / 07',
                        link: 'img/work/wk_preseason.jpg',
                        href: 'assets/S8preseason.html',
                        isRWD: false,
                        multiBrowser: false,
                    },


                ],
                UIs: [{
                    title: '贊星TV 體育直播平台',
                    content: 'Sports Live',
                    time: '2019 / 05',
                    link: 'img/work/wk_bc_banner.png',
                    href: 'assets/bc.html',
                    isRWD: false,
                    multiBrowser: false,
                }, ],
                dps: [{
                        title: '自畫像',
                        content: 'Self Portrait',
                        time: '2018 / 05',
                        link: 'https://i.imgur.com/Ds4ecZL.png',
                        isRWD: false,
                        multiBrowser: false,
                    },
                    {
                        title: '星空少女',
                        content: 'Girl from the star',
                        time: '2019 / 06',
                        link: 'https://i.imgur.com/g67JYno.jpg?1',
                        isRWD: false,
                        multiBrowser: false,
                    },
                    {
                        title: '太空人提摩',
                        content: 'Astronaut Teemo',
                        time: '2018 / 06',
                        link: 'img/work/wk_teemo.jpg',
                        isRWD: false,
                        multiBrowser: false,
                    },
                    {
                        title: 'K/DA 女團',
                        content: 'K/DA',
                        time: '2018 / 10',
                        link: 'https://i.imgur.com/HWil3dv.jpg',
                        isRWD: false,
                        multiBrowser: false,
                    },
                    {
                        title: '鬼滅之刃人物CP圖',
                        content: 'Kemetsu',
                        time: '2018 / 10',
                        link: 'img/work/wk_netsuko.jpg',
                        isRWD: false,
                        multiBrowser: false,
                    },
                    {
                        title: '粉絲專頁封面圖',
                        content: 'ZQARTWROK',
                        time: '2018 / 10',
                        link: 'img/work/fb_banner.png',
                        isRWD: false,
                        multiBrowser: false,
                    },
                ],
            },
            methods: {},
        })
    </script>
    <script>
        $(".lazyload").lazyload();
        $(document).ready(function () {
            $(".section-index").hide();
            setTimeout(function () {
                $('.preload-section').fadeOut();
                $('.section-index').fadeIn(1000);
            }, 000);
            $('.sidenav').sidenav({
                edge: 'right',
            });
        });
    </script>
</body>

</html>