/* BASE
   ========================================================================= */
/* 螢幕右下角icon
---------------------*/
.icon {
	position: fixed;
	z-index: 1;
	right: 0;
	bottom: 30px;
}

.icon a {
	display: block;
	margin: 0 auto;
}

.icon a:first-child {
	background: url(../images/icon.png) 0 -217px;
	width: 108px;
	height: 108px;
	margin-bottom: 1em;
}

.icon a:last-child {
	background: url(../images/icon-1.png) no-repeat;
	width: 132px;
	height: 154px;
}

.icon a:hover {
	opacity: 0.7;
}

/*---------------------*/
.comingSoon {
	padding: 3em;
	margin: 2em 0 4em;
	border: 3px solid #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

div.comingSoon p {
	border: none;
	font-size: 2em;
	text-align: center;
}

.grid {
	max-width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.content .col2 {
	width: 50%;
	float: left;
}

.content .col3 {
	width: 33.333%;
	float: left;
}

.content .col4 {
	width: 25%;
	float: left;
}

.content .col5 {
	width: 20%;
	float: left;
}

.clearfix {
	overflow: auto;
	clear: both;
}

.sticky {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}

/* 滾輪樣式
   ========================================================================= */
/* P1 最新消息 
---------------------------------------*/
#scroll_news::-webkit-scrollbar {
	width: 10px;
}

#scroll_news::-webkit-scrollbar-track {
	background: #566667;
}

#scroll_news::-webkit-scrollbar-thumb {
	background: #47a0a7;
}

/* 規章 報名 報導 共同樣式
----------------------------------------*/
#scroll_rules::-webkit-scrollbar,
#scroll_sign::-webkit-scrollbar,
#scroll_report::-webkit-scrollbar {
	width: 15px;
}

#scroll_rules::-webkit-scrollbar-track,
#scroll_sign::-webkit-scrollbar-track,
#scroll_report::-webkit-scrollbar-track {
	background: #505050;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(135, 135, 135, 0), rgba(80, 80, 80, 1), rgba(135, 135, 135, 0));
	background: -o-linear-gradient(rgba(135, 135, 135, 0), rgba(80, 80, 80, 1), rgba(135, 135, 135, 0));
	background: -moz-linear-gradient(rgba(135, 135, 135, 0), rgba(80, 80, 80, 1), rgba(135, 135, 135, 0));
	background: linear-gradient(rgba(135, 135, 135, 0), rgba(80, 80, 80, 1), rgba(135, 135, 135, 0));
}

/* P5 規章 */
#scroll_rules::-webkit-scrollbar-thumb {
	background: #09fffd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#scroll_rules::-webkit-scrollbar-thumb:hover {
	background: #a5a5a5;
}

/* P6 報導 */
#scroll_report::-webkit-scrollbar-thumb {
	background: #00e09e;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#scroll_report::-webkit-scrollbar-thumb:hover {
	background: #008b62;
}

/* P7 報名 */
#scroll_sign::-webkit-scrollbar-thumb {
	background: #09fffd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#scroll_sign::-webkit-scrollbar-thumb:hover {
	background: #09fffd;
}

/* 各區塊共同
   ========================================================================= */
header,
nav,
nav>div,
footer {
	width: 100%;
	min-width: 1200px;
}

/* HEADER
   ========================================================================= */
header {
	background: url(../images/logo-bg.jpg) no-repeat center;
	background-size: cover;
	height: 610px;
	text-align: center;
}

.logo {
	margin: 0 auto;
	max-width: 350px;
	padding: 2em 0 0.5em;
}

.logo img {
	width: 85%;
}

/* NAV / TABS
   ========================================================================= */
nav {
	padding: 8px 0;
	background: #072355;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(to right, #4873b3, #072355);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to right, #4873b3, #072355);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to right, #4873b3, #072355);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #4873b3, #072355);
	box-shadow: 0 3px 5px #000;
}

nav>div {
	height: 50px;
	background: #224e88;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(to right, #224e88, #00255e);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to right, #224e88, #00255e);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to right, #224e88, #00255e);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #224e88, #00255e);
}

nav ul li {
	display: block;
	width: 12.5%;
	float: left;
	text-align: center;
}

nav li>a {
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0.05em;
	width: 12.5%;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

/* 點擊變色*/
nav li:hover>a,
.thisPage {
	background: rgba(0, 0, 0, .4);
}

/* Footer 
   ========================================================================= */
footer {
	clear: both;
	background: #000;
	border-top: 2px solid #ccc;
}

.fSponser {
	font-size: 1.2em;
	letter-spacing: 0.08em;
	padding: 2em 0;
}

.fSponser div {
	padding: 0.5em 0;
	border-bottom: 1px dotted #2b2b2b;
}

.fSponser div:last-child {
	border-bottom: none;
}

.fSponser ul {
	display: inline-block;
}

.fSponser ul:nth-child(2),
.fSponser ul:nth-child(3) {
	margin-left: 5em;
}

.fSponser ul li:first-child {
	width: 120px;
	font-weight: bold;
	float: left;
}

.fSponser li:last-child {
	margin-left: 120px;
}

.fSponser img {
	height: 50px;
}

.copyright {
	background: #10112e;
	font-size: 0.9em;
	padding: 1.5em 0;
	text-align: center;
}

.content {
	background: url(../images/bg.jpg) no-repeat center top;
	background-size: cover;
	min-width: 1200px;
	overflow: hidden;
	color: #fff;
	padding-top: 1em;
}

.content.rules {
	background-size: cover;
}