/* WEB FONTS
   ========================================================================= */
body,
input,
select,
button {
	font-family: Open Sans, Microsoft JhengHei;
}

/* Header
   ========================================================================= */
h1 {
	color: #fff;
	font-size: 3.5em;
	font-weight: bold;
	letter-spacing: 0.05em;
	position: relative;
	text-shadow: 0 0 10px #000;
}

.slogan {
	margin: 10px auto;
	display: block;
	width: 200px;
}

.hSpan {
	color: #ccc;
	font-size: 1.1em;
}

.hSpan div {
	display: inline-block;
	margin-right: 25px;
}

.hSpan p {
	display: inline-block;
	vertical-align: middle;
}

.hSpan img {
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}


/* 共同標題
   ========================================================================= */
h2 {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding: 1em 0;
	text-align: center;
	position: relative;
	clear: both;
}

p,
a,
li,
span {
	color: #fff;
}

/* 分頁標題色 */
.index h2,
.team h2,
.schedule h2,
.sponsor h2 {
	color: #09fffd;
	text-shadow: 0 0 20px #007a8a;
}

.offline h2 {
	color: #09fffd;
	text-shadow: 0 0 20px #007a8a;
}

.rules h2 {
	color: #09fffd;
	text-shadow: 0 0 20px #007a8a;
}

.report h2 {
	color: #09fffd;
	text-shadow: 0 0 20px #007a8a;
}

.signup h2,
.signupForm h2,
.faq h2 {
	color: #09fffd;
	text-shadow: 0 0 20px #007a8a;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
li {
	cursor: default;
}

::selection {
	background: #09fffd;
}

/* 按鈕
   ========================================================================= */
/* 共同 */
a,
button {
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.btn {
	font-size: 1.5em;
	font-weight: bold;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0.5em;
	width: 250px;
	text-align: center;
	display: block;
	margin: 1em auto;
}

a.btn.disable {
	color: #808080;
	border: 2px solid #808080;
	background: none;
	cursor: not-allowed;
}

a.btn.disable:hover {
	background: none;
	color: inherit;
}

.btnS {
	background: #09fffd;
	padding: 0.3em 0.5em;
	margin-left: 1em;
	font-size: 0.8em;
}

.btnS:hover {
	background: #007a8a;
}

/* 個別 */
.offline .btn {
	border: 2px solid #09fffd;
	background: #09fffd;
	color: #000;
	width: 100%;
}

.offline .btn:hover {
	background: #007a8a;
	color: #000;
}

.ff .btn {
	width: initial;
	margin-top: 0;
}

.rules .btn {
	color: #09fffd;
	border: 2px solid #09fffd;
}

.rules .btn:hover {
	background: #09fffd;
	color: #fff;
}

.signup .btn,
.signupForm button {
	color: #09fffd;
	border: 2px solid #09fffd;
	background: none;
}

.signup .btn:hover,
.signupForm button:hover {
	background: #09fffd;
	color: #fff;
}

.signup .longArticle a {
	color: #09fffd;
}

.signup .longArticle a:hover {
	color: #09fffd;
	text-decoration: underline;
}

.report .btn {
	color: #09fffd;
	border: 2px solid #09fffd;
}

.report .btn:hover {
	background: #09fffd;
	color: #fff;
}

.signupForm button {
	margin-top: 2em;
	cursor: pointer;
}

.faq a {
	color: #09fffd;
}

.faq a:hover {
	color: #09fffd;
	text-decoration: underline;
}

/* Page 1 首頁
   ========================================================================= */
.title1 {
	padding-bottom: 1.8em;
}

.title1:after {
	content: "";
	background: url(../images/dec-01.png) no-repeat;
	background-size: cover;
	width: 710px;
	height: 40px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -355px;
}

.content img {
	width: 100%;
	display: block;
}

.about p,
.rulesList p,
.longArticle p,
.notice p {
	line-height: 2em;
	text-align: justify;
	margin: 2em 0;
}

/* Page 2 隊伍名單
   ========================================================================= */
.team p {
	border: 1px solid #09fffd;
	border-bottom: none;
	padding: 0.5em 1em;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}

.team .col4 li {
	font-size: 0.9em;
	line-height: 1.8em;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.team .col4 .long {
	font-size: 13px;
}

/* Page 3 賽程副標
   ========================================================================= */
.schedule h3 {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em 0 2em;
	position: relative;
}

.schedule h3:after {
	content: "";
	background: url(../images/dec-02.png) no-repeat;
	background-size: cover;
	width: 388px;
	height: 61px;
	display: block;
	position: absolute;
	bottom: -13px;
	left: 50%;
	margin-left: -194px;
}

/* Page 4 總決賽場地
   ========================================================================= */
.finalInfo h3 {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.05em;
	margin: 2em 0;
}

/* 最後總決 */

.offline .title1:after {
	background: url(../images/dec-05.png) no-repeat;
}

/* Page 5 規章
   ========================================================================= */
.rulesList p,
.longArticle p {
	margin: 0 2em 2em 1em;
	font-size: 0.9em;
}

.notice p {
	font-size: 0.8em;
}

.important {
	font-size: 1.5em;
	color: #09fffd;
	border: 1px dotted;
	padding: 1em 2em;
	margin: 1em 0;
	text-align: justify;
}

.tutorial .important span:first-child {
	font-size: 2em;
	font-weight: bold;
	display: block;
	text-align: center;
	margin-bottom: 0.5em;
}

.tutorial .important span:last-child {
	color: yellow;
}

/* Page 6 報導文章列表
   ========================================================================= */
.reportTime {
	color: #008b62;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.reportTitle {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
}

.reportContent {
	font-size: 0.9em;
	color: #808080;
	margin-top: 2em;
}

/* Page 7 報名簡章
   ========================================================================= */
.longArticle ol ol li {
	padding-left: 2em;
}

.longArticle ol li {
	line-height: 2em;
}

.longArticle>ol>li {
	margin-top: 2em;
}

.longArticle>ol>li:first-child {
	margin-top: 0;
}

.longArticle ol span {
	color: #fff286;
	display: block;
}

.longArticle span.important {
	font-size: 1.5em;
	font-weight: bold;
}

.longArticle .important span {
	color: #fff;
	display: inline;
}

.faq1 {
	padding: 1em 1.5em;
	font-size: 1.2em;
	border: 1px solid #09fffd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	position: relative;
}

.faq2 {
	font-size: 1.2em;
	margin: 1em 1.5em 3em;
	line-height: 1.8em;
}

.faq3 {
	padding: 2em 1.5em;
	background: #272a39;
	font-size: 1.2em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
}

/* 教學 */
.tutorial h3 {
	font-size: 1.5em;
	padding: 0.5em;
	background: #007a8a;
	text-align: center;
}

.tutorial h4 {
	font-size: 1.5em;
	color: #38d7ff;
	margin-top: 2em;
}

.tutorial h5 {
	margin-top: 3em;
	font-size: 1.2em;
	color: #38d7ff;
}

.tutorial p,
.tutorial li {
	line-height: 2em;
	margin: 1em 0;
}

.tutorial img {
	margin: 1em 0;
}

img.originImg {
	width: inherit;
	margin: 1em auto;
}

.tutorial ol {
	list-style: decimal;
	list-style-position: inside;
	margin-bottom: 2em;
}

.tutorial a {
	color: #09fffd;
}

.tutorial a:hover {
	color: #09fffd;
}