@media(max-width: 1366px) {
    .lg-card .modal-panel .modal-bg {
        background-size: cover;
        
    }
}
@media(max-width: 1024px) {
    .lg-card .modal-panel .modal-bg {
        background-size: cover;
        background-position: center;
        opacity: 0.2;
    }
    .lg-card .modal-game-detail-content {
        width: 100%;
    }
    .lg-card .modal-body {
        max-width: unset;
    }
    .lg-card .modal-container {
        padding: 5vh 0 0 0;
        padding-bottom: 80px;
    }
    .lg-card .modal-game-detail-content {
        padding: 0;
    }
}
@media(max-width: 768px) {
    #gamesList .container {
        padding: 1rem 0 5rem 0;
    }
    .game-card-wrapper {
        flex-direction: column;
        width: 100%;
    }
    .game-card-section-caption {
        width: 100%;
    }
    .game-card-carousel-wrap {
        width: 100%;
        padding-left: 2rem;
    }
    .sm-card-item {
        width: 100%;
        max-width: 375px;
    }
    .game-card-section-caption {
        min-width: unset;
        padding: 2rem;
        padding-top: 0rem;
    }
}
@media(max-width: 500px) {
    .lg-card .modal-panel .modal-bg {
        background-size: cover;
        background-position: center;
        padding-top: calc((3/4)*100%);
        position: relative;
        opacity: 1;
    }
    .lg-card .modal-game-detail-content {
        padding-top: 2rem;
    }
    .lg-card {
        .modal-panel {
            .modal-bg {
                &[game="apex"] {
                    background-image: url(../img/games-list-index-img/apex-legends-sm.jpg);
                }
                &[game="destiny2"] {
                    background-image: url(../img/games-list-index-img/destiny2-sm.jpg);
                }
                &[game="warframe"] {
                    background-image: url(../img/games-list-index-img/warframe-sm.jpg);
                }
                &[game="hyperscape"] {
                    background-image: url(../img/games-list-index-img/hyperscape-sm.jpg);
                }
                &[game="immortals-fenyx-rising"] {
                    background-image: url(../img/games-list-index-img/immortals-fenyx-rising-sm.jpg);
                }
                &[game="cuphead"] {
                    background-image: url(../img/games-list-index-img/cuphead-sm.jpg);
                }
                &[game="assassins-creed-valhalla"] {
                    background-image: url(../img/games-list-index-img/assassins-creed-valhalla-sm.jpg);
                }
                &[game="cyberpunk2077"] {
                    background-image: url(../img/games-list-index-img/cyberpunk2077-sm.jpg);
                }
                &[game="ark-survival-evolved"] {
                    background-image: url(../img/games-list-index-img/ark-survival-evolved-sm.jpg);
                }
                &[game="black-dessert"] {
                    background-image: url(../img/games-list-index-img/black-dessert-sm.jpg);
                }
                &[game="tctd2"] {
                    background-image: url(../img/games-list-index-img/tctd2-sm.jpg);
                }
                &[game="tcr6"] {
                    background-image: url(../img/games-list-index-img/tcr6-sm.jpg);
                }
                &[game="assassins-creed-odyssy"] {
                    background-image: url(../img/games-list-index-img/assassins-creed-odyssy-sm.jpg);
                }
            }
        }
    }
    .sm-card-item {
        max-width: calc(100vw - 60px);
        height: 480px;
    }
    .game-card-carousel-wrap {
        padding-left: 15px;
    }
    .game-card-carousel.owl-carousel .owl-nav button.owl-prev,
    .game-card-carousel.owl-carousel .owl-nav button.owl-next {
        display: none;
    }
}