.section#newsArticle{
    background-size: auto 100vh;
    padding-top: 0;
    &::after {
        top: 0;
        bottom: unset;
        height: 100vh;
    }
}
.sub.sm {
    margin: 0;
}
ul.disc {
    list-style-type: disc; 
    padding-left: 20px;
}