.section#gameList {
    padding-top: 3rem;
    padding-bottom: 1rem;
    .section-title {
        margin-bottom: 2vw;
    }
    .section-banner-img {
        // max-width: 1000px;
        position: relative;
        padding: 0;
        height: auto;
        img {
            position: relative;
            height: auto;
            width: 100%;
        }
    }
    .section-sub-title {
        margin-bottom: 2rem;
        padding: 0 1rem;
    }
}
.section.bk.game {
    padding-top: 2rem;
}
.game-search-bar-container {
    padding: 1rem 0;
    width: 100%;
    position: relative;
    height: auto;
}
.search-bar-wrapper {
    position: relative;
    background-color: $gray87;
    width: 95%;
    margin: 0 auto;
    height: 50px;
    max-width: 1366px;
    border-radius: 36px;
    .search-btn {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 64px;
        left: 0;
        top: 0px;
    }
    .input-content-delete {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        height: 50px;
        width: 64px;
        font-size: 20px;
    }
    input {
        border-radius: 36px;
        width: 100%;
        height: 100%;
        background-color: $trans;
        outline: none;
        border: none;
        padding: 0 1rem;
        padding-left: 3.5rem;
        color: $white;
        font-size: 16px;
    }
}
.drop-filter {
    display: flex;
    font-size: 14px;
    width: 100%;
    border-bottom: 1px solid $gray87;
    padding-bottom: 1rem;
    padding-top: 2rem;
    justify-content: flex-start;
    align-items: center;
}
.nt-game {
    padding: 2rem 0;
    cursor: default;
}
// custom_select
.select_container {
    font-size: 14px;
}

.custom_select {
    display: inline-block;
    background-color: $trans;
    color: #fff;
    transition: all 0.1s ease;
    position: relative;
    width: auto;
    outline: none;
    &:hover {
        // background: $gray87;
    }
}

.select_title {
    cursor: pointer;
    height: 100%;
    text-align: left;
}

.selected {
    padding: 5px;
    white-space: nowrap;
}

.select_i {
    color: #fff;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-right: 5px;
}

.custom_select:active {
    // background-color: $gray80;
}

.custom_select.active:hover,
.custom_select.active {
    border-radius: 5px 5px 0 0;
    // background-color: $gray80;
    border: none;
}

.custom_select.active .select_i {
    transform: rotate(90deg);
}

.select_menu {
    position: absolute;
    background-color: $black;
    width: auto;
    left: 0;
    top: 2rem;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: none;
    overflow-y: auto;
    z-index: 9;
    padding: 0;
    list-style: none;
}

.select_menu>li {
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-align: left;
    display: inline-flex;
    white-space: nowrap;
}

.select_menu>li:hover {
    background-color: $gray80;
}

.select_menu>li:active {
    background-color: $gray80;
}
.game-list-wrapper {
    list-style-type: none;
    padding-left: 0;
    li {
        margin-left: 0;
        cursor: pointer;
        font-size: 14px;
        color: $gray40;
        position: relative;
        &:hover {
            color: $white;
        }
        .tooltip-info {
            position: absolute;
            left: 0;
            top: calc(100% + 5px);
            background-color: $gray87;
            padding: .8rem 1rem;
            color: $white;
            
            z-index: 1;
            font-size: 12px;
            font-weight: 300;
            line-height: 2;
            display: none;
            .wrap {
                position: relative;
                .tt-closer {
                    position: absolute;
                    z-index: 1;
                    top: -10px;
                    right: -10px;
                    height: 24px;
                    width: 24px;
                    cursor: pointer;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        &.active {
            .tooltip-info {
                display: block;
            }
        } 
    }
}
.game-list-container {
    display: flex;
    .sub {
        margin-left: 0;
    }
}
.game-list-wrapper-outer {
    width: 70%;
}
.game-filter-wrapper {
    width: 30%;
    padding:1rem;
    padding-top: 2.5rem;
}
.game-filter {
    width: auto;
    text-align: right;
    &.m {
        display: none;
    }
}
.filter-title {
    font-size: 14px;
    text-align: left;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray87;
}
.filter-type {
    font-size: 14px;
}
.type-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    padding-left: 0;;
}
.type-wrap .type_i {
    transform: rotate(0deg);
    transition: all 0.1s ease-in-out;
}
.type-wrap.open .type_i {
        transform: rotate(90deg);
        transition: all 0.1s ease-in-out;
}
.filter-btn {
    position: relative;
    cursor: pointer;
    text-align: left;
    padding: .5rem;
    margin-left: 2rem;
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: space-between;
    svg.fa-check {
        display: none;
        margin-right: .3rem;
    }
    &.check {
        background-color: $gray87;
        svg.fa-check {
            display: block;
        }
    }
}
@media(max-width: 1366px) {
    .game-list-container {
        flex-direction: column-reverse;
        position: relative;
    }
    .filter-btn-sec {
        display: none;
        background-color: $gray87;
        padding: 1rem;
    }
    .game-list-wrapper-outer {
        width: 100%;
    }
    .game-filter-wrapper {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        padding-left: 0;
        padding-right: 0;
        width: 80px;
        padding-top: 2rem;
    }
    .game-list-wrapper-outer {
        position: relative;
    }
    .filter-title {
        text-align: right;
        cursor: pointer;
        width: auto;
        display: inline-flex;
        align-items: center;
        border: 0;
    }
    .filter-btn {
        &.check {
            background-color: $gray80;
        }
    }
    .game-filter {
        display: none;
        width: 80px;
        position: relative;
        &.m {
            display: inline-flex;
        }
    }
    .filter-btn-sec {
        position: absolute;
        right: -.5rem;
        top: 100%;
        z-index: 1;
        width: calc(50vw);
        min-width: 300px;
        padding-top: 0;
    }
}
@media(max-width: 375px) {
    .filter-title {
        span {
            display: none;
        }
    }
}