/*
-----
RWD
-----
*/
@media (max-width: 2560px) and (min-width: 1441px) {
    #pricingCarousel {
        justify-content: center;
    }
}
@media (max-width: 1440px) {
    #gamesList .caption p {
        font-size: 16px;
    }

    #gamesList .game-wrap.image {
        width: 55%;    
    }

    .receipt_popup {
        left: calc(50% - 160px)
    }
}
@media (max-width: 1200px) {
    .col2-sp {
        width: 100%;
    }
    .tooltip {
        top: calc(100% + 50px);
        left: 0;
        width: 100%;
        max-width: unset;
        border-right: 0px;
        border-bottom: 5px solid $nv;

        filter: drop-shadow(0 0px 15px rgba(0,0,0,0.5))
    }
    .tooltip-container {
        &::before {
            top: -23px;
            left: calc(50% - 18px);
            transform: rotate(90deg);
        }
    }
}

@media (max-width: 1024px) {
    #nav-icon2 {
        display: block;
    }
    .section1 {
        position: relative;
        width: 100%;
        height: 550px;
        background: $gray87 url("../img/gfn-overview-kv-bg-mp4-desktop.png");
        background-repeat: repeat-x;
        background-position: center top;
        top: 0px;
        overflow: hidden;
    }
    #gfn-video-bg {
        position: relative;
        width: 2560px;
        height: 550px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    #gfn-video-loop {
        width: 100vw;
        height: 550px;
        float: left;
        z-index: 0;
        display: block;
        text-align: center;
        margin-left: calc(50% - 1280px);
    }
    #hexagons {
        position: relative;
        width: 640px;
        height: 450px;
        margin: 0 auto;
        top: 0px;
        left: 0px;
    }
    .hex-m1 {
        width: 320px;
        height: 320px;
    }
    .hex-lg {
        width: 495px;
        height: 495px;
    }
    .hex-sm {
        width: 253px;
        height: 253px;
    }
    .hex-md {
        width: 333px;
        height: 333px;
    }
    #hexagon-1 {
        top: 245px;
    }
    #hexagon-2 {
        left: -170px;
    }
    #hexagon-3 {
        display: none;
        top: 190px;
        left: 337px;
    }
    #key-visual-text {
        position: relative;
        width: 640px;
        margin: 0 auto;
    }
    #the-power-to-play-h1 {
        right: -50px;
        font-size: 32px;
    }
    .tpt-left {
        text-align: right;
    }
    .tpt-right {
        text-align: right;
    }
    .tpt-mid {
        text-align: right;
        font-size: 32px;
    }
    #button-join {
        top: 380px;
        right: -50px;
    }

    .nav-items-wrap {
        .web-menu .nav-item {
            display: none;
        }
    }
    #gamesList .game-wrap {
        transform: rotate(0deg);
    }
    #gamesList .caption h1 span,
    #gamesList .caption p span,
    #gamesList .caption .sub span {
        max-width: 40%;
    }
    #gamesList .game-wrap {
        .g1,
        .g2,
        .g3,
        .g4 {
            animation: none;
        }
    }
    .option-item-wrap {
        flex-direction: column;
        .item {
            margin: 24px 0;
        }
    }
    #captionForGFN {
        padding: 80px 0 40px 0;
        h1 {
            line-height: 1.5;
        }

    }
    .footer-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-media {
        margin-top: 32px;
    }
    
    #news-carousel .content {
        max-width: 40%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .hyper-video .modal-panel {
        max-width: 100%;
    }
    .txt-content h1, .txt-content h2 {
        font-size: 24px;
    }
}
@media screen and (max-width: 1023px) and (min-width: 640px) {
    #campBanner1, #campBanner2, #campBanner3 {
        height: 550px;
    }
    #campBanner1 {
        padding-top: 550px;
        background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/new-creative/geforce-rtx-hyper-scape-hero-1024x550-t@2x.jpg);
        &.bd {
            background-image: url(../event/black-desert/img/geforce-rtx-black-desert-hero-1024x550-t.jpg);
        }
    }
    #campBanner2 {
        margin-top: 550px;
        background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/new-creative/geforce-rtx-hyper-scape-pack-1024x550-t.jpg);     
        padding-top: 550px;
        &.bd {
            background-image: url(../event/black-desert/img/geforce-rtx-black-desert-pack-1350x770-p.jpg.jpg);
        }
    }
    #campBanner3 {
        margin-top: 550px;
        &.bd {
            background-image: url(../event/black-desert/img/geforce-rtx-black-desert-video-bg-1350x770-l.jpg.png);
        }
    }
    .content-table, .content-table.w-40 {
        width: 100%;
        padding: 0 15px;
    }
}
@media (max-width: 768px) {
    #key-visual-text {
        width: 100%;
    }
    
    #gfn-video-bg,
    #gfn-video-loop,
    .section1,
    #hexagons {
        height: 650px;
    }
    #hexagon-1 {
        top: auto;
        left: auto;
        right: -60px;
        bottom: 0px;
    }
    #hexagon-2 {
        left: -70px;
        bottom: -90px;
        top: auto;
    }
    #hexagon-3 {
        display: block;
        top: auto;
        left: 277px;
        bottom: -50px;
    }
    #hexagon-4 {
        position: absolute;
        top: 180px;
        left: auto;
        right: 70px;
    }
    #gamesList {
        text-align: center;
    }
    #gamesList .game-wrap {
        position: relative;
        top: auto;
        left: auto;
        height: 150px;
        width: 100%;
        overflow: hidden;
    }
    #gamesList .game-wrap.image {
        width: 100%;
    }
    #gamesList .caption h1 span,
    #gamesList .caption p span,
    #gamesList .caption .sub span {
        max-width: 100%;
    }
    #pricing {
        padding: 40px 0;
    }
    .pricing-panel-wrap .panel-item {
        width: 300px;
        transform: scale(0.85);
        transform-origin: left top;
        // margin: 0 15px;
    }
    .logo-nav {
        flex-direction: column;
        a {
            margin: 15px 0;
        }
    }
    #captionForGFN h1,
    #gamesList .caption h1 span,
    .pricing-title,
    #bannerGame .caption-text,
    #bannerGame .caption-text,
    .download-item-wrap .ic-title,
    #downloadMethod .title,
    .option-item-wrap .tt,
    #downloadPath .title,
    .title.styled {
        font-size: 24px;
        line-height: 1.5;
    }
    .download-item-wrap {
        flex-direction: column;
        .item {
            margin: 24px 0;
        }
    }
    #downloadPath .title {
        margin: 0;
    }
    .step-arr {
        width: 80px;
    }
    #captionForGFN p {
        margin: 32px auto;
    }
    .multi-item-wrap .multi-item .divi {
        width: 100%;
    }
    .pricing-title {
        margin-bottom: 40px;
    }
    #pricingCarousel {
        display: none;
        
    }
    #mpricingCarousel {
        display: block;
        max-width: 100%;
        padding-left: 32px;
        .crown {
            position: absolute;
            top:10px;
            left: calc(50% - 12px);
            height: 24px;
            width: 24px;
        }
    }
    .admin-slide-menu-item {
        width: auto;
        height: 64px;
        display: flex;
        align-items: center;
        justify-items: center;
        span {
            display: none;
        }
    }
    .admin-side-menu-title {
        display: none;
    }
    .admin-side-menu {
        width: 64px;
        height: fit-content;
        min-height: auto;
    }
    .admin-showing-panel {
        width: calc(100% - 64px);
    }
    .admin-showing-panel {
        &_content-sub-title {
            min-width: 100px;
        }
    }
    .admin-side-menu, .admin-showing-panel {
        margin: 0px;
    }
    .admin-container {
        padding: 0;
    }
}

@media(max-width:640px) {
    #accountOption {
        display: none;
        position: absolute;
        z-index: 100;
        right: 0;
        top: calc(100% + 100px);
        background-color: #222;
        width: auto;
        height: auto;
        text-align: center;
    }
    .section#notFound .section-title {
        font-size: 32px;
    }
    .section#notFound {
        font-size: 16px;
        padding-top: 80px;
    }
    section {
        padding: 40px 0;
    }
    #gfn-video-bg, #gfn-video-loop, .section1, #hexagons {
        height: 600px;
    }
    #hexagons {
        width: 412px;
    }
    .hex-m1 {
        width: 160px;
        height: 160px;
    }
    .hex-lg {
        width: 260px;
        height: 260px;
    }
    .hex-sm {
        width: 185px;
        height: 185px;
    }
    .hex-md {
        width: 170px;
        height: 170px;
    }
    #hexagon-1 {
        top: auto;
        bottom: 32px;
        left: auto;
        right: auto;
    }
    #hexagon-2 {
        top: auto;
        bottom: 80px;
        left: 60px;
        right: auto;
    }
    #hexagon-3 {
        top: auto;
        bottom: 48px;
        left: auto;
        right: 0;
    }
    #hexagon-4 {
        top: auto;
        bottom: 190px;
        left: auto;
        right: 0;
    }
    #news-carousel .tt {
        padding-left: 15px;
    }
    .step-item-wrap {
        flex-direction: column;
        .item {
            margin: 24px 0;
            &.stop {
                animation-delay: 0!important;
            }
        }
    }
    .step-item-wrap .item .num {
        margin-bottom: 15px;
    }
    .step-arr {
        display: none;
    }
    
    #downloadPath .title {
        margin-bottom: 40px;
    }
    #the-power-to-play-h1 {
        padding-top: 68px;
    }
    #button-join {
        top:190px;
    }
    nav {
        height: 55px;
        font-size: 16px ;
    }
    .wrapper {
        padding-top: 55px;
    }
    .logo-wrap {
        height: 36px;
        img {
            height: 100%;
            width: auto;
        }
    }
    .nav-items-wrap ul.m-menu {
        top: 50px;
    }
    .primary_input-title {
        font-size: 12px;
    }
    .ic-wrap.comfirm-part {
        flex-direction: column;
        .ic-wrap {
            margin: 15px 0;
        }
    }
}
@media screen and (max-width: 639px) {
    #campBanner1, #campBanner2, #campBanner3 {
        height: 600px;
    }
    #campBanner1 {
        padding-top: 600px;
        background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/new-creative/geforce-rtx-hyper-scape-hero-767x550-p@2x.jpg);
        &.bd {
            background-image: url(../event/black-desert/img/geforce-rtx-black-desert-hero-767x550-p.jpg);
        }
    }
    #campBanner2 {
        margin-top: 650px;
        background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/new-creative/geforce-rtx-hyper-scape-pack-767x550-p.jpg);     
        padding-top: 600px;
        &.bd {
            background-image: url(../event/black-desert/img/geforce-rtx-black-desert-pack-1024x550-t.jpg.jpg);
        }
    }
    #campBanner3 {
        margin-top: 550px;
        &.bd {
            background-image: url(../event/black-desert/img/geforce-rtx-black-desert-video-bg-1024x550-t.jpg.png);
        }
    }
    .content-table, .content-table.w-40 {
        width: 100%;
        padding: 50px 15px;
    }
}
@media (max-width: 500px) {
    nav .primary-btn {
        position: fixed;
        top: 65px;
        right: 5px;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
        z-index: 10;
        margin: 0;
        transition: .3s;
        // &.open {
        //     top: calc((55 * 8px) + 20px);
        // }
        &.account-center-opener {
            left: auto;
            right: 15px;
            span {
                display: none;
            }
        }
    }

    .admin-showing-panel{
        &_content-item-wrap {
            line-height: 32px;
            white-space: initial;

            &.record {
            line-height: 48px;
            }
        }
        &_content-sub-title,
        &_content-txt {
            width: 100%;
        }
        &_content-sub-title {
            text-align: left;
        }
    }
}
@media (max-width: 350px) {
    #mpricingCarousel {
        padding-left: 24px
    }
}
