html,
body,
* {
    box-sizing: border-box;
    font-family: $zh, $en;
}

html,
body {
    background: $gray87;
    color: $white;
}

a,
a:active,
a:visited,
a:focus {
    display: inline-block;
    color: $white;
    text-decoration: none;
}
.en {
    font-family: $en, $zh;
    font-weight: 700;
}
.zh {
    font-family: $zh;
}
.twm {
    color: $twm;
}
.ratio {
    position: relative;

    width: 100%;
    height: 0;

    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;

    &__24-7 {
        padding-top: calc((7 / 24) * 100%);
    }

    &__16-9 {
        padding-top: calc((9 / 16) * 100%);
    }

    &__1-1 {
        padding-top: calc((1 / 1) * 100%);
    }

    img, iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        object-fit: cover;
        object-position: center;
    }
}

.disabled {
    color: $gray40!important;
    pointer-events: none!important;
    a,
    a:active,
    a:visited  {
        color: $gray40!important;
    }
}
.title.styled {
    display: inline-block;
    font-size: 30px;
    padding: 22px 90px;
    background: $gray87;

    border-left: 5px solid $nv;
    border-right: 5px solid $nv;
    margin-bottom: 2vw;
    &.long {
        width: 100%;
        padding: 20px;
        margin: 10px 0;
        line-height: 1.6;
    }
}
.sub {
    color: $gray40;
    margin: 0 10px;
    &.at {
        font-size: 20px;
        margin: 24px 0;
    }
    &.sm {
        font-size: 13px;
    }
}
@keyframes glow {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
.state {
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 50px;
    &.new{
        color: $nv;
    }
    &.hot {
        color: $red;
    }
    &.na {
        color: rgba(0,0,0,0)
    }
}
.failed {
    color: $red;
}
.scrollTop {
    position: fixed;
    z-index: 10;
    right: 15px;
    bottom: 15px;
    background-color: $nv;
    padding: 12px 15px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    font-size: 24px;
    font-weight: 900;

    cursor: pointer;
  }
.ic-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    img, svg {
        margin: 0 7px;
    }
}
.col1, .col2,.col2-sp {
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.col2 {
    width: 45%;
}
.col2-sp {
    width: 49%;
    margin: 0 .4%;
    min-width: 200px;
}
.primary-block, .secondary-block {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $gray56;
    padding: 0rem 1.3rem;
    height: 60px;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    white-space: nowrap;
    &:focus {
        border: 1px solid $nv;
        outline: none;
        
    }
    
}
.secondary-block {
    border: 1px solid $gray56;
    background-color: rgba(0,0,0,0);
    transition: .2s;
    color:$white;
    &.code-blcok {
        margin-right: 10px;
    }
}
.primary-btn, .secondary-btn, .twm-btn, .third-btn {
    background: $nv;
    padding: 0.8rem 1.3rem;
    text-align: center;
    // height: 60px;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
    font-weight: 500;

    &.login-btn {
        padding: 0.8rem 1.3rem;
    }

    span,
    svg {
        position: relative;
        z-index: 2;
    }

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0px;

        right: 0px;
        bottom: 0px;

        background: $nv-hover;
        transform-origin: right;
        transition: 0.3s ease-in-out;

        z-index: 0;
    }

    &:hover::before {
        width: 100%;
    }

    &.account-center-opener {
        background-color: rgba(0,0,0, 0.8);
        padding: 10px 10px;
        margin: 0;
        &:hover::before {
            display: none;
        }
    }

    &[disabled] {
        pointer-events: none;
    }
}
.secondary-btn {
    
    border: 1px solid $nv;
    background-color: rgba(0,0,0,0);
    transition: .2s;

    &:hover {
        background-color: rgba(255,255,255,.1);
    }

    &::before {
        display: none;
    }

    &.qs {
        width: calc(100% - 32px);
        margin: 16px auto;
        max-width: 1000px;
        background: $black;
        font-style: 20px;
        .title {
            font-size: 24px;
            margin: 32px 0;
        }
    }

}

.twm-btn {
    
    background-color: $twm;
    border: none;


    &::before {
        background-color: $twm-hover;
    }
    
}

.third-btn {
    background-color: $gray67;
    &:hover {
        filter: brightness(1.1)
    }
    &::before {
        display: none;
    }
}

.wrapper {
    padding-top: 80px;
    max-width: 100vw;
    overflow: hidden;}


nav {
    background: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
}

.nav-items-wrap {
    text-align: right;
    position: relative;
    flex: .8;
    ul {
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &.m-menu {
            display: none;
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            background: $black;
            z-index: -1;
            text-align: center;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
            padding-bottom: 10px;
            a {
                display: block;
                li.nav-item {
                    width: 100%;
                    transition: 0.3s;
                    line-height: 55px;
                    
                    &:hover {
                        background: $gray87;
                    }
                }
            }
        }
        li {
            display: inline-block;
            font-weight: 500;
            padding: 0 16px;

            &.nav-item {
                transition: 0.3s;
                line-height: 80px;
                &.active,
                &:hover {
                    background: $nv;
                }
            }
            &.primary-btn {
                margin-right: 0;
            }
        }
        a {
            position: relative;
        }
    }
}
/* Icon 2 */

#nav-icon2 {
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    display: none;
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: $white;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
    top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
    top: 10px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
    top: 20px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 8px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 8px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 14px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 14px;
}
.option-wrap {
    position: relative;
}
#accountOption {

    display: none;

    position: absolute;
    right: 0;
    top: calc(100% + 20px);

    background-color: $gray87;
    width: 100%;
    text-align: center;

    .nav-item {
        display: inline-block !important;
        width: 100%;
        line-height: 70px;
    }
    a {
        display: block;
    }
    li {
        width: 100%;
    }
}

/*
-----
舞台區
-----
*/
.section {
    width: 100%;
    background: $gray87 url("../img/gfn-overview-kv-bg-mp4-desktop.png");
    background-repeat: repeat-x;
    background-position: center top;
    text-align: center;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-color: $black;
    line-height: 1.5;
    position: relative;

    padding: 4.7vw 0;
    z-index: 0;

    &#notFound {
        background-image: none;
        background-color: $ef;
        color: $gray87;
        font-size: 32px;
        line-height: 1.5;
        .section-title {
            font-size: 48px;
        }
        &::before, &::after {
            display: none;
        }
    }

    &#receipt {
        .section-panel {
            text-align: left;
        }
        .q-title {
            color: $gray40;
        }
        .fixed {
            background-color: $gray73;
            border: none;
            height: 48px;
            font-size: 16px;
            padding: 0 15px;
            margin-bottom: 20px;
        }
        .primary_input-wrap {
            margin: 20px 0;
        }
    }

    &.bk {
        background: $black;
        margin: 0
    }

    &#systemRequire {
        background-size: cover;
    }
    &#pricing {
        background-position: center top;
        background-size: contain;
    }

    &#qa {
        background: $black;
    }
    &#newsArticle{
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $black;
        line-height: 1.5;
        padding-top: 0;
        .section-title, .section-inner {
            width: calc(100% - 32px);
            max-width: 1000px;
            margin: 0 auto;
        }
    }
}

.section::after, .section4::before {
    content: "";
    position: absolute;
    bottom: 0 ;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1) 50%,rgba(0,0,0,0));
    z-index: -1;
}

.section-inner {
    width: 100%;

    &.article {
        h1, h2, h3, h4, h5, h6, p, a, img, video, iframe {
            margin: 32px 0;
            line-height: 2;
            text-align: left;
        }
        img {
            display: inline-block;
            width: 100%;
        }
        em {
            color: $nv;
            font-size: 20px;
            font-weight: 500;
            font-style: italic;
        }
        table {
            width: 100%;
            border: 1px solid $gray87;
             ul {
                 text-align: left;
                 list-style-type: disc;
                 padding-left: 20px;
             }
        }
        th,td {
            padding: 16px;
            border: 1px solid $gray87;
        }
        th {
            background-color: $nv;
            font-weight: 600;
        }
        td:first-child {
            background-color: $gray67;
            vertical-align: middle;
        }
        td {
            background-color: $gray80;
        }
        p {
            text-align: left;
            
        }
        p a, ol a {
            margin: 0;
        }
        ol {
            list-style-type: decimal;
            padding-left: 20px;
        }
        ol, li {
            text-align: left;
            a {
                margin: 0;
            }
        }
        .tg {
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.section-panel {
    margin: 0 auto;
    width: 95%;
    max-width: 500px;
    background-color: $gray80;
    padding: 30px;
    line-height: 34px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 1;

    .ic-wrap {
        position: relative;
    }

    .crown {
        display: inline-block;
        height: 20px;
    }

    .btn {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: 12px 0;
        overflow: initial;
    }

    .secondary-btn {
        margin: 32px 0;

        &:hover {
            .tooltip {
                display: block;
            }
        }

    }

    .em {
        font-weight: 700;
        margin-bottom: 24px;
    }

    .visa, .mastercard, .jcb {
        margin: 2px;
        z-index: 2;
    }
    .visa {
        margin-left: 10px;
    }

    &.nav {
        padding: 0;
        margin-bottom: 24px;
    }

    &.sys:not(#winpc) {
        display: none;
    }
}

.tooltip {
    position: absolute;
    left: calc(100% + 64px);
    top: -0.8rem;
    height: auto;
    width: 100%;
    max-width: 280px;
    z-index: 10;
    background-color: $gray80;
    text-align: left;
    border-right: 5px solid $nv;

    display: none;

    p:not(:last-child) {
        margin:0 0 15px 0;
    }
}

.tooltip-container {
    padding: 24px;
    position: relative;
    height: 100%;
    width: 100%;
    &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        left: -23px;
        border-style: solid;
        border-width: 18px 23px 18px 0;
        border-color: rgba(0,0,0,0) $gray80 rgba(0,0,0,0) rgba(0,0,0,0);
    }
    .em {
        color: $nv;
        font-weight: 700;
    }
}

.receipt {
    padding: 15px;
    margin: 32px 0 15px 0;
    background-color: $gray67;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    text-align: left;
    line-height: 1.5;
}

.receipt-logo {
    width: 211px;
    height: 36px;
    background-image: url(../img/logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.receipt-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.receipt-close {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 24px;
    color: $gray40;
}

.receipt-title {
    display: block;
    color: $gray40;
    font-size: 14px;
}

.receipt-item-wrap {
    padding: 7px 15px;
}

.section1 {
    position: relative;
    width: 100%;
    height: 750px;
    background: $gray87 url("../img/gfn-overview-kv-bg-mp4-desktop.png");
    background-repeat: repeat-x;
    background-position: center top;
    top: 0px;
    overflow: hidden;
}
#gfn-video-bg {
    position: relative;
    width: 2560px;
    height: 750px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
#gfn-video-loop {
    width: 100vw;
    height: 750px;
    float: left;
    z-index: 0;
    display: block;
    text-align: center;
    margin-left: calc(50% - 1280px);
}
#key-visual-content {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
}
/*
-----
首頻Slogan
-----
*/
#key-visual-text {
    position: relative;
    width: 1025px;
    margin: 0 auto;
}
#the-power-to-play-h1 {
    position: absolute;
    width: 100%;
    max-width: 480px;
    top: 100px;
    right: -80px;
    font-family: $zh;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: right;
    margin: 0 auto;
    padding: 0;
    padding-top: 108px;
    padding-bottom: 30px;
    user-select: none;
}
#key-visual-text .button {
    position: absolute;
    font-family: $zh;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #76b900;
    float: right;
    /* display: none; */
    white-space: nowrap;
}
#button-join {
    width: auto;
    top: 480px;
    right: 0;

    cursor: pointer;
    z-index: 9;
}
.tpt-left {
    text-align: left;
}
.tpt-mid {
    text-align: center;
    font-size: 36px;
}
/*
------
多邊形特區
------
*/
#hexagons {
    position: relative;
    width: 1025px;
    height: 750px;
    top: 0px;
    left: 0px;
    margin: 0 auto;
}
.hex-lg {
    width: 688px;
    height: 688px;
}
.hex-m1 {
    width: 448px;
    height: 448px;
}
.hex-sm {
    width: 352px;
    height: 352px;
}
.hex-md {
    width: 448px;
    height: 448px;
}
// 多邊形1
#hexagon-1 {
    position: absolute;
    top: 310px;
    left: 170px;
}
#hex-1-shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex1-shadow.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#gfn-video-clip-1 {
    position: absolute;
    width: 272px;
    height: 272px;
    object-fit: contain;
    object-position: center bottom;
    top: 88px;
    left: 87px;
    opacity: 1;
    -webkit-clip-path: polygon(
        204px 18.22px,
        68px 18.22px,
        0px 136px,
        68px 253.78px,
        204px 253.78px,
        272px 136px,
        204px 18.22px
    );
    clip-path: polygon(
        204px 18.22px,
        68px 18.22px,
        0px 136px,
        68px 253.78px,
        204px 253.78px,
        272px 136px,
        204px 18.22px
    );
    /* clip-path: url(#gfn-video-msk-1-LDU); */
    margin: 0;
    pointer-events: none;
}
#hex-1-crop {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex1-crop.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#c1 {
    position: absolute;
    top: 88px;
    left: 86px;
    margin: 0 auto;
    width: 272px;
    height: 272px;
    z-index: 0;
    visibility: hidden;
}
#hex-1-stroke-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex1-stroke-overlay.png);
    opacity: 0.5;
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#hex-1-flares-add {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex1-flares-add.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}

// 多邊形2
#hexagon-2 {
    position: absolute;
    left: -310px;
    top: 63px;
}
#hex-2-shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex2-shadow.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#hex-2-crop {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex2-crop.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#gfn-video-clip-2 {
    position: absolute;
    width: 525px;
    height: 525px;
    object-fit: cover;
    object-position: center center;
    top: 82px;
    left: 82px;
    opacity: 1;
    -webkit-clip-path: polygon(
        393.8px 35.2px,
        131.2px 35.2px,
        0px 262.5px,
        131.2px 489.8px,
        393.8px 489.8px,
        525px 262.5px,
        393.8px 35.2px
    );
    clip-path: url(#gfn-video-msk-2-LDU);
    margin: 0;
    pointer-events: none;
}
#c2 {
    position: absolute;
    top: 80px;
    left: 82px;
    margin: 0 auto;
    width: 525px;
    height: 525px;
    z-index: 0;
    visibility: hidden;
}
#hex-2-stroke-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex2-stroke-overlay.png);
    opacity: 0.5;
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#hex-2-flares-add {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex2-flares-add.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}

// 多邊形3
#hexagon-3 {
    position: absolute;
    top: 220px;
    left: 400px;
}
#hex-3-shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex3-shadow.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#hex-3-crop {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex3-crop.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#gfn-video-clip-3 {
    position: absolute;
    width: 178px;
    height: 178px;
    object-fit: contain;
    object-position: center bottom;
    top: 88px;
    left: 88px;
    opacity: 1;
    -webkit-clip-path: polygon(132px 11px, 44px 11px, 0px 88px, 44px 166px, 132px 166px, 178px 88px, 132px 11px);
    clip-path: polygon(132px 11px, 44px 11px, 0px 88px, 44px 166px, 132px 166px, 178px 88px, 132px 11px);
    /* clip-path: url(#gfn-video-msk-3-LDU); */
    margin: 0;
    pointer-events: none;
}
#c3 {
    position: absolute;
    top: 87.5px;
    left: 87.5px;
    margin: 0 auto;
    width: 180px;
    height: 180px;
    z-index: 0;
    visibility: hidden;
}
#hex-3-stroke-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex3-stroke-overlay.png);
    opacity: 0.5;
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#hex-3-flares-add {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex3-flares-add.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}

// 多邊形4
#hexagon-4 {
    position: absolute;
    top: 50px;
    left: 170px;
}
#hex-4-shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex4-shadow.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#hex-4-crop {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex4-crop.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
    background-position: center center;
    background-size: cover;
}
#gfn-video-clip-4 {
    position: absolute;
    width: 274px;
    height: 274px;
    object-fit: cover;
    object-position: center;
    top: 87px;
    left: 87px;
    opacity: 1;
    -webkit-clip-path: polygon(
        205.5px 18.36px,
        68.5px 18.36px,
        0px 137px,
        68.5px 255.65px,
        205.5px 255.65px,
        274px 137px,
        205.5px 18.36px
    );
    clip-path: polygon(
        205.5px 18.36px,
        68.5px 18.36px,
        0px 137px,
        68.5px 255.65px,
        205.5px 255.65px,
        274px 137px,
        205.5px 18.36px
    );
    /* clip-path: url(#gfn-video-msk-4-LDU); */
    margin: 0;
    pointer-events: none;
}
#c4 {
    position: absolute;
    top: 86px;
    left: 86px;
    margin: 0 auto;
    width: 274px;
    height: 274px;
    z-index: 0;
    visibility: hidden;
}
#hex-4-stroke-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex4-stroke-overlay.png);
    opacity: 0.5;
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}
#hex-4-flares-add {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/gfn/webassets/overview/kv/fg-content-hex4-flares-add.png);
    pointer-events: none;
    background-position: center center;
    background-size: cover;
}

/*
-----
跑馬燈
-----
*/
#captionForGFN {
    position: relative;
    .content{
        margin: 0 auto;
        width: 95%;
    }
}
.carousel-section {
    position: absolute;
    top: -40px;

    height: 80px;
    width: 100%;

    margin: 0 auto;
}

#news-carousel {
    background: $gray87;
    border-left: 5px solid $nv;
    border-right: 5px solid $nv;

    width: 95%;
    max-width: 800px;
    height: 80px;
    margin: 0 auto;
    
    .item {
        height: 80px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 24px;
    }
    .tt {
        white-space: nowrap;
        .en {
            font-weight: 700;
            color: $white;
        }
        .zh {
            font-weight: 700;
            color: $nv;
            margin: 0 5px;
        }
    }
    .divi {
        color: $gray60;
        margin: 0 15px;
    }
    .date {
        color: $gray60;
        font-weight: 400;
        margin: 0 5px;
    }
    .content {
        margin: 0 5px;
        text-align: left;
        width: auto;
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/*
------
技術支持敘述
------
*/

#captionForGFN {
    background: $black;
    padding: 7vw 0 4vw;
    text-align: center;

    h1 {
        font-size: 32px;
        font-weight: 600;
    }

    p {
        text-align: center;
        width: 95%;
        max-width: 600px;
        margin: 40px auto;
        line-height: 2;
    }
    svg {
        margin: 0 10px;
    }
    .more {
        color: $nv;

        .en {
            font-weight: 700;
        }
    }
}

/*
------
遊戲列表
------
*/
@keyframes rollDown {
    50% {
        background-position: 0 1077.5px;
    }
}
@keyframes rollUp {
    50% {
        background-position: 0 -1077.5px;
    }
}
#gamesList {
    background: $white;
    position: relative;
    overflow: hidden;
    text-align: right;
    .container {
        height: 100%;
        width: 100%;
        padding: 4.7vw 5vw;
        color: $nv;
    }
    .game-wrap {
        position: absolute;
        top: -15vw;
        left: -25vw;
        transform-origin: center center;
        transform: rotate(-30deg) translateX(-4vw);
        width: 80%;
        height: 100%;

        &.image {
            transform: rotate(0);
            left: 0;
            top: 0;
            width: 60%;
            height: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .g {
            display: inline-block;
            width: 20%;
            height: 2155px;
            margin: 0 2px;
            background-repeat: repeat;
            background-size: contain;
        }
        .g1 {
            background-image: url(../img/col1.png);
            animation: rollDown 60s linear infinite;
            background-position: bottom;
        }
        .g2 {
            background-image: url(../img/col2.png);
            animation: rollUp 60s linear infinite;
            background-position: top;
        }
        .g3 {
            background-image: url(../img/col3.png);
            animation: rollDown 60s linear infinite;
            background-position: bottom;
        }
        .g4 {
            background-image: url(../img/col4.png);
            animation: rollUp 60s linear infinite;
            background-position: top;
        }
    }
    .caption {
        span {
            display: inline-block;
        }
        h1 {
            font-size: 32px;
            font-weight: 500;
            margin: 10px 0;
            .en {
                font-weight: 700;
                display: inline;
            }
            span {
                max-width: 37%;
            }
        }
        p {
            font-size: 20px;
            line-height: 1.5;
            span {
                max-width: 32%;
            }
        }
        .sub {
            color: $gray40;
            font-size: 16px;
            margin: 24px 0;
            span {
                display: inline-block;
                max-width: 24%;
            }
        }
        .primary-btn {
            margin: 0;
        }
    }
}
/*
-----
價格方案
-----
*/
#pricingCarousel {
    display: flex;
    justify-content: flex-start;
    padding: 32px;
    // max-width: 740px;
    
    &.owl-carousel {
        .owl-stage {
            display: flex;
            // align-items:center;
        }
        .owl-stage-outer {
            overflow: visible;
        }
    }
}
#mpricingCarousel {
    display: none;
}
#pricing {
    background-image: url(../img/gfn-overview-kv-bg-mp4-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2vw 0;
    text-align: center;
    position: relative;
}
.pricing-title, .section-title {
    font-size: 32px;
    margin-bottom: 3vw;
    .en {
        font-weight: 700;
    }
    .zh {
        font-weight: 600;
        color: $nv;
    }
}
.pricing-title {
    margin-bottom: 1vw;
}
.pricing-panel-wrap {
    margin: 0 auto;

    .panel-item {
        position: relative;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        line-height: 1.6;

        border: 1px solid $gray80;

        width: 100%;
        max-width: 350px;
        min-width: 300px;
        height: auto;
        background: $gray80;
        padding: 32px 15px;
        // margin: 0 25px;
        vertical-align: middle;
        text-align: center;

        box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.5);

        transition: 0.2s;

        &[disabled] {
            pointer-events: none;
        }

        &:hover {
            border-color: $nv;
        }
        .wrapper {
            position: absolute;
            z-index: 10;
            top: -35px;
            left: calc(50% - 30px);
        }
        .title {
            .en {
                font-size: 14px;
                margin: 10px;
            }
            .zh {
                font-size: 24px;
                font-weight: 500;
            }
        }
        .divi {
            display: block;
            height: 1px;
            min-height: 1px;
            width: 3vw;
            min-width: 100px;
            background: $gray56;
            margin: 24px auto;
        }
        .cost {
            color: $nv;
            .sub {
                margin: 8px;
            }
        }
        .cost-wrap {
            .origin {
                color: $white;
                text-decoration: line-through;
                font-weight: 300;
            }
            .arr {
                color: $white;
                margin: 0 5px;
            }
            .discount {
                font-weight: 600;
            }
        }
        .ic-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;

            margin: 15px 0;
            svg {
                margin: 0 8px;
                color: $nv;
            }
        }
        .sub {
            color: $gray40;
            font-size: 14px;
            font-weight: 300;
        }
        .crown {
            position: absolute;
            z-index: 10;
            top: -35px;
            left: calc(50% - 30px);
            height: 50px;
            width: 60px;

            background-image: url(../img/crown.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}
.pricing-alert {
    font-size: 12px;
    width: 95%;
    max-width: 1290px;
    margin: 0 auto;
    line-height: 2;
    padding: 32px 0;
}
/*
-----
公開橫幅
-----
*/
#bannerGame {
    background-image: url(../img/hero-banner-platform-2560x770-d.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    .container {
        position: relative;
        width: 95%;
        margin: 0 auto;
        max-width: 912px;
        padding: 4.7vw 0;
        height: 100%;
    }
    .caption-text {
        position: absolute;
        font-size: 32px;
        font-weight: 600;
        line-height: 2;
        padding: 0 15px;
        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
        .line1 {
            padding-right: 3vw;
        }
        .line2 {
            text-align: center;
        }
        &.bottom {
            font-size: 16px;
            font-weight: normal;
            bottom: 16px;
            left: calc(50% - 200px);
            width: 100%;
        }
    }
}
/*
-----
下載通道
-----
*/
#downloadPath {
    background: $black;
    .container {
        width: 95%;
        max-width: 780px;
        margin: 0 auto;
        padding: 4.7vw 0;
    }
    .title {
        text-align: center;
        font-size: 32px;
        margin: 0 0 4.7vw 0;
        .en {
            font-weight: 700;
        }
    }
}
.download-item-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .item {
        display: inline-flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ic-img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &.win {
            background-image: url(../img/win.svg);

            width: 168px;
            height: 95px;
        }
        &.mac {
            background-image: url(../img/mac.svg);

            width: 145px;
            height: 102px;
        }
        &.android {
            background-image: url(../img/android.svg);

            width: 145px;
            height: 100px;
        }
    }
    .ic-title {
        font-size: 32px;
        font-weight: lighter;
        margin: 20px 0;
    }
}
/*
-----
開始玩遊戲
-----
*/
#downloadMethod {
    background-image: url(../img/gfn-overview-kv-bg-mp4-desktop.png);
    background-size: cover;

    .container {
        width: 95%;
        max-width: 656px;
        margin: 0 auto;
        padding: 4.7vw 0;
        text-align: center;
    }
    
}
.step-item-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        .num {
            font-size: 32px;
            font-weight: 700;
            font-family: $en;
            color: $nv;
            margin-bottom: 50px;
            filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
        }
        .ic-img {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 20px;
            filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
            &.account {
                background-image: url(../img/icon-account.svg);
                width: 75px;
                height: 75px;
            }
            &.install {
                background-image: url(../img/icon-download.svg);
                width: 75px;
                height: 75px;
            }
            &.connect {
                background-image: url(../img/steam.svg);
                width: 75px;
                height: 75px;
            }
        }
    }
}
.step-arr {
    background-image: url(../img/step-arr.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 121px;
    height: 18px;

    position: relative;
    bottom: -30px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));}
/*
-----
底部額外連結
-----
*/
.divi-wide {
    width: 90%;
    max-width: 1290px;
    margin: 0 auto;
    background: $gray87;
    height: 1px;

    &.g60 {
        background: $gray60;
        margin: 50px auto;
    }

    &.hyper {
        margin: 100px 0;
    }
}
#preFooter {
    background: $black;
    .container {
        width: 95%;
        max-width: 1080px;
        margin: 0 auto;
        padding: 4.7vw 0;
    }
}
.option-item-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ic-wrap {
        display: flex;
        align-items: center;
    }
    .ic-img {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 20px 0 0;
        &.system {
            background-image: url(../img/icon-sys-req.svg);
            width: 70px;
            height: 70px;
        }
        &.faq {
            background-image: url(../img/icon-faqs.svg);
            width: 70px;
            height: 70px;
        }
        &.service {
            background-image: url(../img/icon-server.svg);
            width: 56px;
            height: 69px;
        }
    }
    .tt {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .more {
        color: $nv;
        .txt {
            margin-bottom: 5px;
        }
    }
    &.hyper {
        font-size: 20px;
        margin-bottom: 50px;
        .divi-verti {
            height: 45px;
            width: 1px;
            min-width: 1px;
            background-color: $gray60;
        }
        img {
            margin: 20px 0;
        }
    }
}
.multi-item-wrap {
    display: flex;
    justify-content: center;
    padding: 4.7vw 0;
    .multi-item {
        margin: 0 32px;
        .title {
            font-size: 24px;
            font-weight: 500;
            .en {
                font-weight: 700;
            }
        }
        .divi {
            background: $gray60;
            height: 1px;
            width: 300px;
            margin: 24px 0;
        }
        .multi-link-wrap {
            display: flex;
            .col {
                flex: 1;
                display: inline-flex;
                flex-direction: column;
                .multi-link {
                    color: $nv;
                    font-weight: 300;
                    margin: 15px 0;
                }
            }
        }
    }
}
/*
-----
Footer
-----
*/
footer {
    background-color: $gray87;
    .container {
        width: 95%;
        max-width: 1290px;
        margin: 0 auto;
        padding: 50px 0;
    }
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-nav {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 50px;
    height: 45px;
    width: 200px;
    object-fit: contain;
    object-position: center;
}
a.footer-link {
    white-space: nowrap;
    color: $gray60;
    margin: 0 12px;
    &:hover {
        filter: brightness(1.1);
    }
}
.copy-right {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}
.copyright.hyper {
    font-size: 12px;
    color: $gray60;
}
.social-ic {
    margin: 0 5px;
    transition: 0.2s;
    &:hover {
        filter: brightness(1.1);
    }
}


/*
--------------
Admin Deck
--------------
*/

.admin-wrapper {
    background-image: url(../img/gfn-overview-kv-bg-mp4-desktop.png);
    background-position: top;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    &::before {
        content: "";
    position: absolute;
    bottom: 0 ;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0));
    }
}

.admin-container {
    width: 100%;
    height: 100%;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

.admin-inner-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.admin-side-menu, .admin-showing-panel {
    display: inline-block;
    width: 25%;
    min-height: 700px;
    max-width: 320px;
    margin: 0 16px;
    background-color: $gray80;

    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    position: relative;

    .ic-wrap {
        display: block;
        width: 100%;
        position: relative;

    }
}

.admin-showing-panel {
    width: 75%;
    max-width: 1014px;
}

.admin-showing-panel-title {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    font-size: 18px;
    font-weight: 500;

    div {
        position: relative;
        background-color: $nv;
        height: 60px;
        width: 9vw;
        min-width: 150px;
        padding: 15px 0px;

        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            width: 0;
            height: 0;
            border-top: 60px solid $nv;
            border-right: 40px solid rgba(0,0,0,0);
        }
    }
}

.admin-side-menu-title {
    padding: 20px;

    .ic-wrap {
        display: inline-flex;
        justify-content: flex-start;
    }
}

.admin-slide-menu-item {
    width: 100%;
    padding: 0px 24px;
    height: 64px;
    border-left: 5px solid rgba(0,0,0,0);

    display: flex;
    align-items: center;

    &:hover, &.active, &:active {
        display: flex;
        background-color: $gray87;
    }

    &.active {
        border-left: 5px solid $nv;
    }
    svg {
        margin-right: 5px;
        font-size: 14px;
    }
    .ic-clip {
        display: inline-flex;
        align-items: center;
        justify-items: center;
        height: 16px;
        width: 16px;
        object-fit: contain;
    }
}

.admin-showing-panel{
    &_content-container {
        position: relative;
    }
    &_content-section {
        padding: 60px 32px 32px 32px;
        line-height: 1.5;
    }
    &_content-title {
        margin: 32px 0;
    }
    &_content-item-wrap {
        width: 100%;
        margin: 24px 0px;
        white-space: nowrap;
        line-height: 48px;

        &.record {
            margin: 10px 0;
            font-size: 14px;
            line-height: 48px;
            white-space: nowrap;

            tr {
                white-space: nowrap;
            }

            th,td {
                padding: 0 20px;
            }

            .td {
                position: relative;
            }

            tr:nth-child(even) {
                td{
                    background-color: $gray73;
                }
            }
            th {
                color: $gray40;
                text-align: left;
            }
            
        }

        &.qa {
            tr:nth-child(even),tr:nth-child(odd) {
                td{
                    background-color: $gray73;
                }
            }
            tr.answer-section {
                display: none;
                td {
                    background-color: $gray87;
                }
            }
        }
    }
    &_content-item:not(:last-child) {
        margin-bottom: 24px;
    }
    &_content-sub-title, 
    &_content-txt {
        white-space: initial;
        display: inline-block;
        position: relative;
        vertical-align: top;
        div {
            margin: 24px 0;
        }
    }
    &_content-sub-title {
        width: 15%;
        min-width: 120px;
        color: $gray40;
        text-align: right;
        white-space: nowrap;
        margin-right: 24px;
    }
    &_content-txt {
        width: calc(100% - 150px);
    }
    &_content-navtab {
        padding: 24px 2vw 19px 2vw;
        border-bottom: 5px solid rgba(0,0,0,0);
        transition: .2s;
        &.active {
            border-bottom-color: $nv;
            &:hover {
                border-bottom-color: $nv-hover;
            }
        }
        &:hover {
            border-bottom-color: $gray60;
        }
    }
}
.receipt_popup {
    position: fixed;
    height: auto;
    width: 100%;
    max-width: 26vw;
    min-width: 320px;
    top: 200px;
    left: calc(50% - 13vw);
    display: none;
}
.edit-btn, a.receipt-link {
    color: $nv;
    margin-left: 5px;
    &:hover {
        color: $nv-hover;
    }
}
a.receipt-link {
    margin: 0;
}

.navigation {
    width: 100%;
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
            background-color: $nv;
        }
        &.disabled {
            color: $gray40;
        }
    }
}

/*
------
404
------
*/
.notfound-kv {
    width: 100%;
    background-image: url(../img/nv-web-404-robot-625-t.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 257px;
    max-width: 625px;
    margin: 0 auto;

}
.notfound-kv-txt {
    margin: 32px 0;
}
/*
------
Custom Select
------
*/

$background: $gray73;
$select-color: $ef;
$select-background: $gray73;
$select-width: 100%;
$select-height: 48px; 

.select-hidden {
display: none;
visibility: hidden;
padding-right: 10px;
}
.select {
cursor: pointer;
display: inline-block;
position: relative;
font-size: 16px;
color: $select-color;
width: $select-width;
height: $select-height;
}
.select-styled {
position: absolute; 
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: $select-background;

display: flex;
align-items: center;

padding: 0 15px;

    &:after {
        content:"";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: $nv transparent transparent transparent;
        position: absolute;
        top: 20px;
        right: 10px;
    }
    &:hover {
        background-color: darken($select-background, 2);
    }
    &:active, &.active {
        background-color: darken($select-background, 5);
        &:after {
        top: 13px;
        border-color: transparent transparent $nv transparent;
        }
    }
    }

    .select-options {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darken($select-background, 5);
    li {
        margin: 0;
        padding: 12px 0;
        text-indent: 15px;
        border-top: 1px solid darken($select-background, 10);
        &:hover {
        color: $select-background;
        background: $select-color;
        }
        &[rel="hide"] {
        display: none;
        }
    }
}

/*
--------
Custom Checkbox
--------
*/

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: $gray87;
    }
  
    // Box hover
    &:hover + label:before {
      background: $black;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background: $nv;
      
    }
    
    // Disabled state label.
    &:disabled + label {
      color: $gray40;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: $gray40;
    }
  
    // Checkmark. Could be replaced with an image
    // &:checked + label:after {
    //   content: '';
    //   position: absolute;
    //   left: 5px;
    //   top: 9px;
    //   background: $white;
    //   width: 2px;
    //   height: 2px;
    //   box-shadow: 
    //     2px 0 0 $white,
    //     4px 0 0 $white,
    //     4px -2px 0 $white,
    //     4px -4px 0 $white,
    //     4px -6px 0 $white,
    //     4px -8px 0 $white;
    //   transform: rotate(45deg);
    // }
  }
  
#type2, #type3, #type4 {
    display: none;
}

    .q-title {
        margin: 12px 0;
    }

textarea {
    width: 100%;
    max-width: 100%;
    max-height: 500px;
    font-size: 16px;
    padding: 12px;
    background-color: $select-background;
    border: 0;
    color: $ef;
    &:focus {
        outline: none;
    }
}

.primary_input-wrap {
    position: relative;
    margin: 15px 3px;
    vertical-align: top;

    .comfirm-pic {
        background-color: $nv;
        height: 50px;
        width: 150px;
        margin: 0 20px;
    }

    .ic-wrap {
        display: flex;
        align-items: center;
    }
    
    input {
        background-color: $gray80;
        border: 1px solid $gray56;
        padding: 24px;
        font-size: 16px;
        width: 100%;
        outline: none;
        color: $white;
        transition: .3s;
        &:focus {
            border-color: $nv;
        }
        &.err {
            border-color: $red;
        }
    }

    .fa-redo {
        font-size: 32px;
        color: $gray40;
        transition: .3s;
        &:hover {
            color: $white;
        }
    }
}

.err-txt {
    color: $red;
    text-align: right;
    float: right;
    padding: 5px 0;
}

.primary_input-title {
    position: absolute;
    z-index: 1;
    background-color: $gray80;
    top: -14px;
    left: 15px;
    color: $gray40;
    padding: 0 14px;
    transition: .3s;
    &.focus {
        color: $white;
    }
}

.btn-wrap {
    margin: 0;
    text-align: center;
    a {
        display: inline-flex;
    }
    .btn {
        margin: 15px 5px;
        padding: 0.8rem 2.3rem;
    }
}

.answer-opener {
    text-align: right;
    position: relative;

    .notify-dot {
        position: absolute;
        right: 48px;
        top: 18px;

        height: 12px;
        width: 12px;
        border-radius: 100%;

        background-color: $red;
    }
}
.answer-opener-a {
    transform: rotate(-90deg);
    transition: .3s;
    &.active {
        transform: rotate(0);
    }
}

.admin-showing-panel_content-item-wrap.record .answer-section td{
    text-align: left;
    line-height: 2;
    padding: 20px;
    width: 100%;
    background-color: $gray87;
}

.answer-divi {
    width: 100%;
    height: 1px;
    background-color: $gray60;
    margin: 20px 0;
}

.self-question {
    color: $gray40;
    font-style: italic;
}

.section-banner-img {
    height: 0;
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    padding-top: 33%;
    background-color: $black;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.section-caption {
    text-align: left;
    line-height: 2;
    max-width: 1366px;
    width: 90%;
    margin: 44px auto 0 auto;
}
.game-list-container {
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
}
.game-list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: disc;
    text-align: left;
    line-height: 1.6;
    li {
        width: calc(25% - 40px);
        min-width: 250px;
        margin: 15px 20px;
    }
}
.section-panel-nav {
    display: flex;
    justify-content: center;
}
.section-panel-nav-tab {
    width: calc(100% / 3);
    max-width: calc(100% / 3);
    overflow: hidden;
    height: 65px;
    line-height: 65px;
    border-bottom: 3px solid transparent;
    transition: .2s;
    &:hover {
        background-color: $gray87;
    }
    &.active {
        border-bottom: 3px solid $nv;
    }
}
.section-panel-title {
    text-align: left;
}
.section-panel-list {
    text-align: left;
    line-height: 24px;
    li {
        &.sub {
            color: $gray40;
            padding-left: 12px;
        }
    }
}
.system-item {
    margin: 10px 0;
    &:first-child {
        margin: 0;
    }
}
.qa-dsiplay-section {
    text-align: left;
}
.qa-display-container {
    margin: 0  auto;
    width: 90%;
    max-width: 1290px;
}
.qa-title {
    font-size: 24px;
    margin: 24px 0;
}
.qa-item {
    line-height: 2;
    margin: 15px 0;
    
    .q {
        color: $nv;
        font-weight: 500;
    }
    .a {
        font-weight: 300;
    }
}
.display-section {
    width: calc(100% - 32px);
    max-width: 1000px;
    margin: 0 auto;
    background-color: $gray87;
    border: 1px solid $nv;
    padding: 32px 16px;

    &.news-list {
        .ic-wrap {
            justify-content: flex-start;
            width: 100%;
        }
        ul {
            li {
                width: 100%;
                max-width: 80%;
                margin: 24px auto;
                a.news-title {
                    max-width: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                
            }
        }
    }
}

.section-anchor-nav {
    width: 90%;
    max-width: 1290px;
    margin: 0 auto;
}
.section-anchor-nav-tab {
    color: $nv;
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
    white-space: nowrap;
    &.primary-btn {
        color: $white;
    }
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    
    z-index: 100;
     p {
         line-height: 2;
     }
}
.modal-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-closer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-panel {
    position: relative;
    padding: 32px;
    background-color: $gray80;
    z-index: 1;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    &.alert {
        max-width: 550px;
    }
}
.hyper-video .modal-panel {
    max-width: 50vw;
    background-color: $trans;
}
.modal-title {
    font-size: 24px;
    margin-bottom: 24px;
}
.modal-body {
    width:100%;
}
.modal-footer {
    text-align: center;
    margin-top: 10px;
    .primary-btn {
        margin: 0;
    }
}

a.at-backer.ic-wrap {
    display: inline-flex;
    font-size: 16px;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    font-weight: 500;
    color: $nv;
    margin: 24px 0;
}

.at-time {
    font-size: 16px;
    text-align: right;
}

.at-logo {
    max-width: 200px;
    text-align: right;
}
.chart-wrapper {
    width: calc(100% - 32px);
    max-width: 1000px;
    margin: 16px auto;
    text-align: center;
}
.chart-item {
    clip-path: polygon(0% 0%, 75% 0%, 84% 50%, 75% 100%, 0% 100%);
    width: auto;
    display: inline-block;
    padding: 24px 60px 24px 24px;
    margin: 15px 0;
    line-height: 1.5;
    vertical-align: middle;
    transform: .5s;;
    background: $gray73;

    &.result {
        clip-path: none;
        padding: 24px;
    }

    &.twm-bg {
        background: $twm;
        &:hover {
            pointer-events: none;
        }
    }

    &:first-child{
        background-color: $nv;
        opacity: 1;
        &:hover {
                background: $nv-hover;
            }
        }
}

/*
----------
HyperScape
----------
*/
#campBanner1,
#campBanner2,
#campBanner3 {
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/new-creative/geforce-rtx-hyper-scape-hero-2560x770-d@2x.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 770px;
    text-align: left;
    .container {
        width: 95%;
        height: 100%;
        max-width: 1290px;
        margin: 0 auto;
    }
    .en {
        font-weight: 700;
    }
    &.bd {
        background-image: url(../event/black-desert/img/geforce-rtx-black-desert-hero-2560x770-d.jpg);
    }
}
#campBanner2 {
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/new-creative/geforce-rtx-hyper-scape-pack-2560x770-p.jpg);
    &.bd {
        background-image: url(../event/black-desert/img/geforce-rtx-black-desert-pack-2560x770-p.jpg.jpg);
        height: 570px;
    }
}
#campBanner3 {
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/geforce-rtx-hyper-scape-video-bg-2560x770-d.jpg);
    text-align: center;
    position: relative;
    &.bd {
        background-image: url(../event/black-desert/img/geforce-rtx-black-desert-video-bg-2560x770-d.jpg.png);
    }
}

.content-table {
    float: left;
    display: table;
    height: 100%;
    width: 50%;
    line-height: 1.5;
    &.right {
        float: right;
    }
    &.middle {
        float: none;
        margin: 0 auto;
    }
    &.w-40 {
        width: 40%;
        height: 550px;
    }
}
.content-cell {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    
}
.txt-content {
    h1 {
        font-weight: 500;
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h1,h2,p {
        margin: 20px 0;
    }
    .primary-btn {
        max-width: 150px;
        margin: 30px 0;
        font-size: 20px;
        font-weight: 700;
    }
    ul {
        list-style-type: disc;
        padding-left: 24px;
        line-height: 2.5;
    }
    
    .img-wrap {
        display: inline-block;
        position: relative;
        height: 0;
        width: 100%;
        max-width: 700px;
        padding-top: 56.25%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.hyper-methods {
    text-align: left;
    list-style-type: decimal;
    padding-left: 24px;
    line-height: 2;
}
.hyper-action-section {
    margin: 32px 0;
}
ol {
    list-style-type: decimal;
    padding-left: 20px;
}
.special-content-part {
    max-width: 1366px;
    margin: 0 auto;
    width: calc(100% - 30px);
    h1 {
        font-size: 24px;
        font-weight: 700;
    }
}
.section-inner.article  {
    table.sp {
        th {
            background-color: $gray67;
            &.twm-bg {
                background-color: $twm;
            }
        }
        td:first-child {
            background-color: $gray80;
        }
        td:first-child, td:nth-child(2) {
            vertical-align: middle;
        }
    }
    
}
