#campBanner1{
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/new-creative/geforce-rtx-hyper-scape-hero-2560x770-d@2x.jpg);
    
    &.bd {
        background-image: url(../img/event/blackdesert/geforce-rtx-black-desert-hero-2560x770-d.jpg);
    }
}
#campBanner2 {
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/new-creative/geforce-rtx-hyper-scape-pack-2560x770-p.jpg);
    &.bd {
        background-image: url(../img/event/blackdesert/geforce-rtx-black-desert-pack-2560x770-p.jpg.jpg);
        
    }
}
#campBanner3 {
    background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/GeForce/campaigns/hyper-scape-bundle/geforce-rtx-hyper-scape-video-bg-2560x770-d.jpg);
    
    &.bd {
        background-image: url(../img/event/blackdesert/geforce-rtx-black-desert-video-bg-2560x770-d.jpg.png);
    }
}