@import "kit";
@import "2020-new-gameslist-index";
@import "2020-new-gameslist-index_game-panel-color";
@import "2020-new-gameslist-index_game-panel-bg";
@import "2020-new-gameslist-index_rwd";
@import "2021-newyear-update";
@import "2021-gamelist-update";
@import "20210208-sys-update";
@import "20210223-update";
@import "20210309-update";
@import "20210311-update";
@import "20210317-update";
@import "20210324-update";
@import "20210407-update";
section#videoPromo {
    background-color: $black;
    text-align: center;
    padding: 5rem 0;
    .img-wrap {
        max-width: 800px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    
}
.promo-video .modal-container {
    max-height: 100%;
    overflow-y: scroll;
}
.promo-video .modal-panel {
    background-color: $trans;
    max-width: 1200px;
    padding: 0;
}

.promo-video .video-frame {
    border-radius: 10px;
    overflow: hidden;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: unset;
    object-position: center;
    border-radius: 10px;
    overflow: hidden;
}
.promo-video iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-position: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    object-fit: unset;
    object-position: center;
    border-radius: 10px;
    overflow: hidden;
}
.modal-closer_btn {
    position: fixed;
    right: .5rem;
    top: 1rem;
    height: 50px;
    width: 50px;
    font-size: 32px;
    z-index: 1;
}

.download-item-wrap .ic-img.play {
    background-image: url(../img/play-now-btn.svg);
    width: 145px;
    height: 102px;
}
#downloadPath .container {
    max-width: 1000px;
}
#preFooter {
    z-index: 1;
    position: relative;
}